
<nav class="navbar-default navbar-static-side" id="navPanel" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
        </div>
        <div class="logo-element">
        </div>
      </li>

      <li [class.active]="hm.isActive">
        <a routerLinkActive #hm="routerLinkActive" [routerLink]="'/'">
          <i class="fa fa-home"></i> <span class="nav-label">Головна</span></a>
      </li>
      <li [class.active]="ch.isActive">
        <a routerLinkActive #ch="routerLinkActive" [routerLink]="'/checkbox'">
          <i class="fa fa-list-alt"></i> <span class="nav-label">Чекбокси</span></a>
      </li>
      <li [class.active]="cat.isActive">
        <a routerLinkActive #cat="routerLinkActive" [routerLink]="'/category'">
          <i class="fa fa-folder"></i> <span class="nav-label">Категорії</span></a>
      </li>
      <li [class.active]="geo.isActive">
        <a routerLinkActive #geo="routerLinkActive" [routerLink]="'/filters'">
          <i class="fa fa-filter"></i> <span class="nav-label">GEO філтри</span></a>
      </li>
      <li [class.active]="chn.isActive">
        <a routerLinkActive #chn="routerLinkActive" [routerLink]="'/moderation'">
          <i class="fa fa-th-large"></i> <span class="nav-label">Мережі</span></a>
      </li>
      <li [class.active]="lb.isActive">
        <a routerLinkActive #lb="routerLinkActive" [routerLink]="'/labels'">
          <i class="fa fa-th-large"></i> <span class="nav-label">Мітки</span></a>
      </li>
      <li [class.active]="fd.isActive">
        <a routerLinkActive #fd="routerLinkActive" [routerLink]="'/foodcoin'">
          <i class="fa fa-th-large"></i> <span class="nav-label">FoodCoin</span></a>
      </li>

    </ul>
  </div>
</nav>
