<div class="container-fluid">
  <app-search [mod]="'searchEst'" (onRes)="ests = $event"></app-search>  
  <div class="col-xs-12"><h2>Загальний баланс: {{foodCoin ? foodCoin.totalAmount : '0'}} FoodCoin</h2>
</div>


<table class="table table-striped table-bordered table-hover dataTables-example dataTable">
  <thead>
    <tr>
      <th class="center sorting">Домен</th>
      <th class="center">Ім'я</th>
      <th class="center">Веріфікація</th>
      <th class="center">Oнлайн</th>
      <th class="center">Картка</th>
      <th class="center">Адміністрування</th>
      <th class="center">Користувачі</th>
    </tr>
  </thead>
  <tbody>
    <tr class="gradeA even" role="row" *ngFor="let est of ests">
      <td class="center">{{est.subdomain}}</td>
      <td class="center">{{est.name}}</td>
      <td class="center"><input type="checkbox" [ngModel]="est.verify" (change)="updateStatus(est)"></td>
      <td class="center"><input type="checkbox" [ngModel]="est.isOnline" (change)="updateOnline(est)"></td>
      <td class="center"><input type="checkbox" [ngModel]="est.isCart" (change)="updateCart(est)"></td>
      <td class="center"><button class="btn btn-primary" (click)="estId = est._id">+</button></td>
      <td class="center flex-wrap">
        <span class="label label-success" *ngFor="let us of est.permisions">
          {{us.firstName}} &nbsp; {{us.lastName}}
        </span>
      </td>
    </tr>
  </tbody>

</table>

<app-user-list [estId]="estId" (onRes)="reinit($event)" (onClose)="estId = ''; $event"></app-user-list>
