.wrap{
  display: flex;
  justify-content: space-between;
}
.content{
  width: 100%;
  margin-left: 15px;
}
.inherit-right{
  display: flex;
  justify-content: space-between;
}
.m-r-sm{
  margin-left: 15px;
}
