<div id="wrapper">
  <app-header></app-header>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <div class="inherit-right">
          <span class="m-r-sm text-muted welcome-message">Welcome to Taste of life Admin.</span>
        </div>
      </nav>
    </div>

    <ng-container *ngIf="isHome">
      <app-home></app-home>
    </ng-container>

    <ng-container *ngIf="!isHome">
      <router-outlet></router-outlet>
    </ng-container>
    <br><br><br>
    <div class="footer">
      <div>Taste of Life © 2018</div>
    </div>
  </div>
</div>

