<div class="wrapper wrapper-content animated fadeInRight" *ngIf="chBox" appPopap (onClose)="cancel()">
  <form (submit)="save()">
    <label>
      <span>name category*</span>
      <input type="text" name="name-checkBox" [(ngModel)] = "chBox.name">
    </label>
    <label>
      <span>Для категорії*</span>
      <span>{{chBox.valueName}}</span>
      <button type="button" (click)="isCheckCat=true">Обрати</button>
      <app-checklist (onChecked)="setCat($event);isCheckCat=false"
                     *ngIf="isCheckCat"
                     [apiLink]="'maincategory'"></app-checklist>
    </label>
    <div class="btn-wrap">
      <button type="button" class="ibox-tools">cancel</button>
      <button type="submit">edit</button>
    </div>
  </form>
</div>
