ul.active{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
}
.select-dropdown{
  width: 100%;
}
.load-img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px dotted #AAAAAA;
}
.load-img svg{
  display: block;
  width: 25px;
  height: 25px;
}
