.calendar{
  margin-bottom: 15px;
}
.title{
  padding: 7px 0 10px;
  height: 35px;
}
.calendar_wrap{
  margin: -8px;
}
.calendar_i-min{
  width: calc((100% / 2) - 16px);
  padding: 8px 10px 15px;
  margin: 5px 8px 10px;
  min-width: 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
@media (min-width: 500px) {
  .calendar_i-min {
    width: calc((100% / 3) - 16px);
  }
}
@media (min-width: 700px) {
  .calendar_i-min {
    width: calc((100% / 4) - 16px);
  }
}
@media (min-width: 1100px) {
  .calendar_i-min {
    width: calc((100% / 5) - 16px);
  }
}
@media (min-width: 1220px) {
  .calendar_i-min {
    width: calc((100% / 6) - 16px);
  }
}
@media (min-width: 1320px) {
  .calendar_i-min {
    width: calc((100% / 7) - 16px);
  }
}
