.calendar-wrap-cart .title{
  width: 100%;
  color: #000;
  font-size: 18px;
  text-align: center;
}
.calendar-wrap-cart .wrap{
  display: flex;
}
.calendar-wrap-cart{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  padding: 15px;
}
