<div *ngIf="calendar" class="calendar">
  <div class="title">
    <strong>{{calendar.label}}</strong>
  </div>
  <div class="calendar_wrap">
    <div class="calendar_i-min" *ngFor="let key of keyArr">
      <strong class="calendar_i_tt">{{calendar[key].nameDay}}</strong>
      <br>
      <div *ngIf="calendar[key].isTimeRange">{{calendar[key].timeStart}} – {{calendar[key].timeEnd}}</div>
      <div *ngIf="calendar[key].isAllTime">Цілодобово</div>
      <div *ngIf="calendar[key].isWeekend">Зачиненно</div>
    </div>
  </div>
</div>
