<label *ngIf="!multiple">
  <input type="file" style="display: none" class="profile-avatar" (change)="uploadImg($event);pop.val=true">
  <div [innerHTML]="btn || 'upload'"></div>
</label>
<label *ngIf="multiple">
  <input type="file" style="display: none" class="profile-avatar" (change)="uploadImg($event)" multiple="multiple">
  <div [innerHTML]="btn || 'upload'"></div>
</label>

<div #pop class="popup-crop" [ngClass]="{'active':pop.val}">
  <div class="p-up-fix" tabindex="0" role="button" (click)="pop.val = !pop.val"></div>
  <section class="p-up p-up-big">
    <div class="p-up-c">

      <button (click)="rotateLeft()">Rotate left</button>
      <button (click)="rotateRight()">Rotate right</button>
      <button (click)="flipHorizontal()">Flip horizontal</button>
      <button (click)="flipVertical()">Flip vertical</button>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="ratios"
        [resizeToWidth]="600"
        [cropperMinWidth]="320"
        [onlyScaleDown]="true"
        format="{{format}}"
        outputType="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
        style="max-height: 60vh"
      ></image-cropper>
      <div style="max-height: 10vh;">
        <img [src]="croppedImage" style="max-height: 10vh;object-fit: contain"/>
      </div>
      <div>
        <button (click)="push();pop.val=false">OK</button>
      </div>
    </div>
  </section>
</div>

