<p>
  Список замовлень. Тут обробляються всі замовлення. Можливо по вкладкам: нові, підтверджені, очікують оплати, в дорозі, змінені, виконані, відмінені, усі. Фільтр по дням (за замовчуванням: сьогодні). По замовленню видається вся інформація разом з інформацією про гостя (замовника): ім‘я, телефон, фото, статистика а сайті: кількість замовлень/кількість замовлень у даному закладі, кількість дописів, кількість відгуків до страв, як давно зареєстрований і коли була остання активність. Оператор може редагувати замовлення або просто змінювати статус.
</p>
<router-outlet></router-outlet>
