<div class="wrapper wrapper-content animated fadeInRight" appPopap (onClose)="onClose.emit($event)">
  <div class="cansel-popup-btn">
    <div class="ibox-tools">
      <button class="btn btn-cancel">Скасувати</button>
    </div>
    <div class="ibox-tools">
      <button (click)="save()" class="btn btn-primary">Зберегти</button>
    </div>
  </div>
  <div class="scroll-wrap">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Новий календар</h5>

          </div>
          <div class="ibox-content">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-md-3 control-label">Назва каледаря*</label>
                <div class="col-md-9">
                  <input type="text" name="name-calendar" class="form-control"
                         [(ngModel)]="calendar.name">
                </div>
              </div>
              <!--<div class="form-group">-->
              <!--<label class="col-md-3 control-label">Підпис каледаря*</label>-->
              <!--<div class="col-md-9">-->
              <!--<input type="text" name="name-calendar" class="form-control"-->
              <!--[(ngModel)]="calendar.label">-->
              <!--</div>-->
              <!--</div>-->

              <div class="cr-calendar_cn">
                <div class="cr-calendar_i" *ngFor="let key of keyArr; let i = index">
                  <div class="form-group">
                    <div class="col-sm-4 control-label">День:</div>
                    <div class="col-sm-8 control-label">
                      <b>{{calendar[key].nameDay}}</b>
                    </div>
                  </div>
                  <div [class.disabled]="!calendar[key].isTimeRange" class="tm-picker">
                    <div class="tm-picker_i">
                      <label class="control-label">Час відкриття</label>
                      <div class="tm-picker_time">
                        <timepicker [(ngModel)]="timeArray[i].timeStart" [showMeridian]="false" [arrowkeys]="true" (isValid)="timeArray[i].isValidS = $event"></timepicker>
                      </div>
                    </div>

                    <div class="tm-picker_i">
                      <label class="control-label">Час закриття</label>
                      <div class="tm-picker_time">
                        <timepicker [(ngModel)]="timeArray[i].timeEnd" [showMeridian]="false" [arrowkeys]="true" (isValid)="timeArray[i].isValidE = $event"></timepicker>
                      </div>
                    </div>
                    <!--<input class="form-control" type="text" name="start-calendar" [(ngModel)]="calendar[key].timeStart">-->
                    <!--<input class="form-control" type="text" name="end-calendar" [(ngModel)]="calendar[key].timeEnd">-->
                  </div>

                  <div class="status-check">
                    <label class="control-label">Статус<br/></label>
                    <div>
                      <div class="i-checks">
                        <div (click)="radioCheck('isTimeRange',calendar[key])" class="i-label">
                      <span class="i-radio">
                        <span class="radioActive" [ngClass]="{'check':calendar[key].isTimeRange}"></span>
                      </span>
                          <span>Діапазон часу</span>
                        </div>
                      </div>
                      <div class="i-checks">
                        <div (click)="radioCheck('isAllTime',calendar[key])" class="i-label">
                    <span class="i-radio">
                      <span class="radioActive" [ngClass]="{'check':calendar[key].isAllTime}"></span>
                    </span>
                          <span>Цілодобово</span>
                        </div>
                      </div>

                      <div class="i-checks">
                        <div (click)="radioCheck('isWeekend',calendar[key])" class="i-label">
                      <span class="i-radio">
                        <span class="radioActive" [ngClass]="{'check':calendar[key].isWeekend}"></span>
                      </span>
                          <span>Вихідний</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



