@charset "UTF-8";

.cont {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 3px -3px 20px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; }

.cont_h {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px; }

.cont_c {
  background: #fff;
  box-shadow: 3px -3px 20px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; }

.cont_h1 {
  display: block;
  height: 52px;
  padding: 0 16px; }

.cont_dropD {
  position: relative; }

.btn-trans, .datepicker-cancel, .datepicker-done, .confirmation-btns .btn-flat,
.btn-green,
.btn-yellow,
.btn-red {
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none; }

.btn-green,
.btn-yellow,
.btn-red {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 5px 15px;
  font-size: 14px;
  color: #ffffff;
  box-shadow: inset 3px -3px 10px rgba(0, 0, 0, 0.32);
  transition: background .3s ease-in-out, color .3s ease-in-out; }
.btn-green:hover, .btn-green:focus,
.btn-yellow:hover,
.btn-yellow:focus,
.btn-red:hover,
.btn-red:focus {
  background: #f0f0f0;
  color: #1e1e1e; }
.btnActive.active svg *{
  fill: #00a3ff!important;
}

.btn-trans, .datepicker-cancel, .datepicker-done, .confirmation-btns .btn-flat {
  display: block;
  background: transparent;
  transition: background .3s ease-in-out, color .3s ease-in-out, text-shadow .3s ease-in-out, opacity .3s ease-in-out;
  padding: 0; }
.btn-trans span, .datepicker-cancel span, .datepicker-done span, .confirmation-btns .btn-flat span {
  transition: .3s ease-in-out; }
.btn-trans:focus, .datepicker-cancel:focus, .datepicker-done:focus, .confirmation-btns .btn-flat:focus {
  background: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

.btn-green {
  background: #52ac62; }

.btn-green > svg,
.btn-green > span > svg,
.btn-green > div > svg{
  fill: #ffffff; }
.btn-green:hover > svg,
.btn-green:focus > svg,
.btn-green:hover > span > svg,
.btn-green:focus > span > svg,
.btn-green:hover > div > svg,
.btn-green:focus > div > svg {
  fill: #000000; }

.btn-yellow {
  background: #ffb400; }
.btn-yellow:hover svg, .btn-yellow:focus svg {
  fill: #000000; }

.btn-red {
  background: #e86060; }
.btn-red:hover svg, .btn-red:focus svg {
  fill: #000000; }
