body {
  margin: 0;
  display: block;
  padding: 0; }

.container-page {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto; }

.container-page_one {
  display: flex;
  flex-direction: column;
  width: 100%; }

.container-page_two {
  display: none;
  max-width: 215px;
  flex: 1 0 215px;
  background: rgba(0, 0, 0, 0.05);
}

.container_avatar {
  width: 100%;
  min-height: 175px;
  background: #eaf0e8;
  margin: 0 0 5px; }

.container-content {
  display: flex;
  flex-direction: column; }

.container-tape {
  display: block;
  flex-grow: 1;
  margin: 5px 10px 15px; }

.container_left-bar {
  display: flex;
  flex: 1 0;
  margin: 5px 10px;
  background: rgba(0, 0, 0, 0.05)
}
.right-bar_container {
  display: flex;
  flex-direction: column;}

.element_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 3px -3px 20px rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  background: #ffffff; }
  .element_header {
    display: flex;
    align-items: center;
    padding: 0 11px 0;
    height: 40px; }
  .element_header-link {
    display: flex;
    align-items: center;
    padding: 0 11px 0 0;
    height: 100%;
    cursor: pointer;
    transition: .3s; }
    .element_header-link:hover .element_header_img svg {
      filter: drop-shadow(1px 1px 1px rgba(97, 20, 143, 0.5)); }
    .element_header-link:hover .element_header_text {
      color: #61148f; }
    .element_header-link:hover .element_header_value {
      color: #1e1e1e; }
  .element_header_img {
    display: block;
    width: 20px;
    height: 20px; }
    .element_header_img svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #61148f;
      transition: .3s fill; }
  .element_header_text {
    font-size: 12px;
    color: #000000;
    text-transform: capitalize;
    padding: 0 10px;
    transition: .3s; }
  .element_header_value {
    color: #a3a3a3;
    font-size: 12px;
    transition: .3s; }
  .element_header_button {
    display: block;
    margin-left: auto;
    width: 12px;
    height: 12px;
    cursor: pointer; }
    .element_header_button svg {
      display: block;
      width: 100%;
      height: 100%;
      transition: .3s; }
    .element_header_button:hover svg {
      fill: #61148f; }
  .element_content {
    display: flex;
    flex-flow: row wrap;
    padding: 0 8px 13px;
    margin-top: -3px; }
    .element_item {
      width: 60px;
      height: 60px;
      margin: 3px;
      cursor: pointer;
      transition: .3s filter; }
      .element_item:hover {
        filter: opacity(85%); }
      .element_item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; }

.user-setup_title-container {
  margin: 11px 0 5px; }
  .user-setup_title {
    font-size: 12px;
    color: #a3a3a3;
    line-height: normal;
    padding: 0;
    margin: 0; }

.user-setup_element-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-shadow: 3px -3px 20px rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  box-sizing: border-box;
  padding: 0 11px;
  background: #ffffff;
  cursor: pointer;
  transition: .3s; }
  .user-setup_element-link:hover {
    background: #f0f0f0; }
    .user-setup_element-link:hover .user-setup_element-link_text {
      color: #61148f; }

.user-setup_element-link_img {
  display: block;
  width: 20px;
  height: 20px; }
  .user-setup_element-link_img svg {
    width: 100%;
    height: 100%;
    fill: #61148f;
    transition: .3s; }

.user-setup_element-link_text {
  font-size: 12px;
  color: #000000;
  text-transform: capitalize;
  padding: 0 10px;
  transition: .3s; }

.user-setup_list {
  padding: 0 0 0 20px !important;
  margin: 5px 0 20px;
  list-style-type: initial !important; }

.user-setup_list_li {
  color: #a09da3;
  font-size: 12px;
  line-height: 18px;
  list-style-type: initial !important; }

.user-setup_list_li-link {
  color: #a09da3;
  font-size: 12px;
  cursor: pointer;
  transition: .3s; }
  .user-setup_list_li-link:hover {
    color: #000000; }

.copyright {
  color: #a09da3;
  font-size: 12px;
  padding-left: 2px; }

.left-bar_container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1; }

.left-bar_container_content {
  display: flex; }

.star-element_container-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 3px -3px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: #ffffff;
  transition: .3s;
  margin: 5px 5px 5px 0; }
  .star-element_container-link:hover {
    filter: opacity(90%);
    background: #f0f0f0; }
    .star-element_container-link:hover .star-element_header_text {
      color: #6a1b9a; }
  .star-element_header {
    display: flex;
    align-items: center;
    padding: 0 8px 0;
    height: 28px;
    position: relative; }
  .star-element_header_img {
    position: absolute;
    right: 1.5px;
    bottom: -12px;
    display: block;
    width: 22px;
    height: 22px; }
    .star-element_header_img svg {
      width: 100%;
      height: 100%; }
  .star-element_header_text {
    font-size: 12px;
    color: #000000;
    text-transform: capitalize;
    padding: 0 10px;
    transition: .3s; }
  .star-element_content {
    display: flex;
    flex-flow: row wrap;
    padding: 0 8px 7px; }
    .star-element_item {
      display: block;
      width: 100%;
      height: auto;
      max-height: 150px; }
      .star-element_item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; }

.like-element-container {
  margin: 5px 0 5px 5px;
  background: #ffffff; }
  .like-element-container .element_header {
    padding: 0 5px;
    justify-content: center;
    height: 32px;
    flex-grow: 0.1; }
  .like-element-container .element_header-link {
    padding: 0; }
  .like-element-container .element_content {
    padding: 0 3px 13px;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center; }
  .like-element-container .element_item {
    margin: 2px;
    flex-grow: 1;
    width: 13.15vw;
    height: 13.15vw; }

.left-bar_container_button {
  display: flex;
  width: 100%; }
  .left-bar_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #52ac62;
    border: none;
    outline: none;
    box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.35);
    padding: 0 5px;
    cursor: pointer;
    margin: 5px 0;
    transition: .3s; }
    .left-bar_button:first-of-type {
      margin-right: 5px; }
    .left-bar_button:last-of-type {
      margin-left: 5px; }
    .left-bar_button:hover, .left-bar_button:focus {
      background: #f0f0f0; }
      .left-bar_button:hover .left-bar_button_title, .left-bar_button:focus .left-bar_button_title {
        color: #1e1e1e; }
      .left-bar_button:hover .left-bar_button_img svg, .left-bar_button:focus .left-bar_button_img svg {
        fill: #1e1e1e; }
  .left-bar_button_title {
    font-size: 12px;
    color: #ffffff;
    transition: .3s; }
  .left-bar_button_img {
    display: none;
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px; }
    .left-bar_button_img svg {
      width: 100%;
      height: 100%;
      fill: #ffffff;
      transition: .3s; }

@media (min-width: 540px) {
  .container_left-bar {
    flex-flow: row nowrap; }
  .star-element_container-link {
    max-width: 180px; }
  .like-element-container {
    max-width: 180px;
    margin: 5px; }
    .like-element-container .element_item {
      max-width: 54px;
      height: 54px; }
  .left-bar_container_button {
    flex-direction: column;
    flex-grow: 1;
    width: auto; }
  .left-bar_button {
    width: auto; }
    .left-bar_button:first-of-type {
      margin-right: 0;
      margin-left: 5px; }
    .left-bar_button:last-of-type {
      margin-left: 5px; }  }

@media (min-width: 650px) {
  .left-bar_container_content {
    width: 65vw; }
  .star-element_container-link {
    max-width: none; }
  .like-element-container {
    max-width: none;
    margin: 5px; }
    .like-element-container .element_item {
      max-width: none;
      width: 60px;
      height: 60px; }
  .left-bar_container_button {
    flex-direction: column;
    flex-grow: 1;
    width: auto; }
  .left-bar_button {
    width: auto; }
    .left-bar_button:first-of-type {
      margin-right: 0;
      margin-left: 5px; }
    .left-bar_button:last-of-type {
      margin-left: 5px; } }

@media (min-width: 768px) and (min-height: 500px) {
  .container-content {
    flex-direction: row; }
  .container-tape {
    width: auto;
    flex-grow: 1;
    max-width: 750px; }
  .container_left-bar {
    flex-direction: column;
    max-width: 215px;
    min-width: 195px;
    flex-grow: 1;
    margin: 0 0 0 10px; }
  .left-bar_container {
    flex-direction: column; }
  .left-bar_container_content {
    width: 100%;
    flex-direction: column; }
  .star-element_container-link {
    margin: 5px 0; }
    .star-element_header {
      padding: 0 11px 0;
      height: 40px; }
    .star-element_header_img {
      position: static; }
    .star-element_content {
      padding: 0 11px 16px; }
  .like-element-container {
    max-width: none;
    margin: 5px 0; }
    .like-element-container .element_header {
      justify-content: flex-start;
      padding: 0 11px 0;
      height: 40px; }
    .like-element-container .element_content {
      padding: 0 8px 13px; }
    .like-element-container .element_item {
      max-width: none;
      width: 60px;
      height: 60px;
      margin: 3px; }
  .left-bar_button {
    width: calc(100% - 16px); }
    .left-bar_button .left-bar_button_img {
      display: block; }
    .left-bar_button:first-of-type {
      margin-left: auto;
      margin-right: auto; }
    .left-bar_button:last-of-type {
      margin-left: auto;
      margin-right: auto; }  }

@media (min-width: 992px) and (min-height: 500px) {
  .container_avatar {
    width: auto;
    flex-grow: 0.5;
    margin: 0 10px 5px 0; }
  .container-page_two {
    display: block;
    margin: 0 10px 0 0; }
}
@media (min-width: 1220px) {
  .container_left-bar {
    margin: 0; }
  .container-page_two {
    margin: 0; } }
