<form (submit)="send()" *ngIf="!isConfirm">
  <input type="text" [(ngModel)]="form.login" placeholder="login" name="login">
  <input type="text" [(ngModel)]="form.firstName" placeholder="name" name="firstName">
  <input type="text" [(ngModel)]="form.lastName" placeholder="second name" name="lastName">
  <button class="waves-effect waves-light btn" type="submit">Sign Up</button>
</form>
<app-confirm *ngIf="form && isConfirm" [form]="form"></app-confirm>
<p><a href="/auth/facebook">enter with facebook</a></p>
