<div class="page-title">
  <h4>
     Огляд за вчора ({{yesterday | date: 'dd.MM.yyyy'}})          
  </h4>
</div>

<div
class="row"
*ngIf="data$ | async as data; else loader"
>

  <div class="col s12 l6">
      <div class="card light-blue lighten-2 white-text">
          <div class="card-content">
              <span class="card-title">Виручка:</span>
              <h3>{{data.gain.yesterday}} грн</h3>
              <h3
                class="m0 mb1"
                [ngClass]= "{
                  'green-text text-darken-2': data.gain.isHigher,
                  'red-text': !data.gain.isHigher
                }"
              >
                  <i class="fas fa-arrow-up" *ngIf="data.gain.isHigher"></i>
                  <i class="fas fa-arrow-down" *ngIf="!data.gain.isHigher"></i>                  
                  {{data.gain.percent}}%
              </h3>
              <p>
                Виручка за вчорашній день на 
                {{data.gain.percent}}% 
                {{data.gain.isHigher ? 'вище' : 'нижче'}} 
                середньої: 
                {{data.gain.compare}} 
                грн/день
              </p>
          </div>
      </div>
  </div>

  <div class="col s12 l6">
      <div class="card orange lighten-2 white-text">
          <div class="card-content">
              <span class="card-title">Замовлення:</span>
              <h3>{{data.orders.yesterday}} шт.</h3>
              <h3
                class="m0 mb1"
                [ngClass]= "{
                  'green-text text-darken-2': data.orders.isHigher,
                  'red-text': !data.orders.isHigher
                }"
              >
              <i class="fas fa-arrow-up" *ngIf="data.orders.isHigher"></i>
              <i class="fas fa-arrow-down" *ngIf="!data.orders.isHigher"></i>     
                  {{data.orders.percent}}%
              </h3>
              <p>
                Кількість замовлень за вчорашній день на 
                {{data.orders.percent}}% 
                {{data.orders.isHigher ? 'вище' : 'нижче'}} 
                серднього значення: 
                {{data.orders.compare}} 
                зам./день
              </p>
          </div>
      </div>
  </div>
</div>
  
<div
class="wrapper wrapper-content animated fadeInRight ecommerce"
*ngIf="data$ | async as data; else loader"
>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div class="ibox-content">              
              <table class="centered footable table table-bordered toggle-arrow-tiny footable-loaded tablet breakpoint" data-page-size="15">
                <thead>
                <tr>
    
                  <th class="footable-visible footable-first-column text-center">Дата</th>
                  <th class="footable-visible text-center">Загальна</th>
                  <th class="footable-visible text-center">Доставка</th>
                  <th class="footable-visible text-center">На виніс</th>
                  <th class="footable-visible text-center">Резерв</th>
                  <th class="footable-visible text-center">Готівка</th>
                  <th class="footable-visible text-center">Картка</th>
                  <th class="text-right footable-visible footable-last-column">FoodCoin</th>
    
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let order of data.summaryOrders">
                  <tr class="footable-even sible footable-first-column">
                    <td class="footable-visible text-center">
                      <b>{{order.data}}</b>
                    </td>
                    <td class="footable-visible text-center"><span class="footable-toggle"></span>
                      {{order.total}} ({{order.count_total}} шт.)
                    </td>
                    <td class="footable-visible text-center">                    
                      <span> {{order.sumDel != 0 ? order.sumDel : '-'}} {{order.sumDel != 0 ? '('+order.count_sumDel+' шт)' : ''}}</span>  
                    </td>
                    <td class="footable-visible text-center">
                      {{order.sumSelf != 0 ? order.sumSelf : '-'}} {{order.sumSelf != 0 ? '('+order.count_sumSelf+' шт)' : ''}}
                    </td>
                    <td class="footable-visible text-center">
                      {{order.sumRes != 0 ? order.sumRes : '-'}} {{order.sumRes != 0 ? '('+order.count_sumRes+' шт)' : ''}}
                    </td>
                    <td class="footable-visible text-center">
                      {{order.fiat != 0 ? order.fiat : '-'}} {{order.fiat != 0 ? '('+order.count_fiat+' шт)' : ''}}
                    </td>
                    <td class="footable-visible text-center">                    
                      <span> {{order.card != 0 ? order.card : '-'}} {{order.card != 0 ? '('+order.count_card+' шт)' : ''}}</span>
                    </td>
                    <td class="text-right footable-visible">
                      <span> {{order.foodcoin != 0 ? order.foodcoin : '-'}} {{order.foodcoin != 0 ? '('+order.count_foodcoin+' шт)' : ''}}</span>
                    </td>                  
                  </tr>
                </ng-container>
                </tbody>
                <tfoot>
    
                </tfoot>
              </table>
    
            </div>
          </div>
        </div>
      </div>
</div>
      

<ng-template #loader>
  ..зачекайте..
</ng-template>

<div class="tap-target" data-target="menu" #tapTarget>
  <div class="tap-target-content">
      <h5>Навіщо потрібна ця сторінка?</h5>
      <p>Сторінка “Огляд” покаже динаміку замовлень за попередній день. Порівняння з середнім значенням допоможе Вам зрозуміти як ідуть справи!</p>
  </div>
</div>