<mz-navbar>
  <a href="#" class="brand-logo">Logo</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item *ngFor="let linkObj of menuList">
      <a [routerLink]="['/'+linkObj.link]">{{linkObj.label}}</a>
    </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>

<mz-sidenav
  [id]="'sidenav-demo'"
  #sidenav
>
  <button mz-button (click)="sidenav.opened = false" >
    close
  </button>
  <mz-sidenav-header>
    logo
  </mz-sidenav-header>
  <mz-sidenav-link [active]="false"
                   *ngFor="let linkObj of menuList">
    <a [href]="linkObj.link">{{linkObj.label}}</a>
  </mz-sidenav-link>
</mz-sidenav>
<button mz-button (click)="sidenav.opened = true">
  Open
</button>
