:host /deep/ nav{
  background-color: #f4f4f4;
  height: auto;
  line-height: normal;
  box-shadow: none;
}
:host /deep/.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
:host /deep/a {
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
:host /deep/a:hover,:host /deep/a:focus{
  background-color: rgba(0, 0, 0, 0.04);
}
:host /deep/ span.badge {
  position: absolute;
  top: calc(50% + 2px);
  left: calc(50% + 2px);
  margin: 0;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  padding: 0 2.5px;
  min-width: 15px;
  height: 15px;
  line-height: 15px;
  background: #61148f;
  color: #fff;
}

.nav_basic{
  order: 1;
  padding-left: 10px;
  flex-grow: 2.1;
  max-width: calc(100% - 140px);
}
.nav_basic a{
  height: 35px;
  line-height: 35px;
}
.nav_basic span, strong{
  color: #000;
  font-size: 12px;
}
.nav_basic /deep/ ul{
  justify-content: flex-start;
}
.logo{
  width: 135px;
  padding: 2px 0;
  margin-right: 3vw;
}
.logo:hover{
  background: transparent;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav_user{
  padding: 0 4vw 0 2vw;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  width: 100%;
  order: 3;
}
.nav_user /deep/ ul{
  display: flex;
  justify-content: space-between;
}
.nav_user a{
  height: 34px;
  line-height: 34px;
  position: relative;
}
.user_tape-page{
  display: none;
}
.user_photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.user_name{
  display: none;
  padding-left: 8px;
  text-transform: capitalize;
}
.form-search{
  display: none;
}

.food-coin a{
  padding: 0 8px;
  height: 35px;
  line-height: 36px;
}
.food-coin_name{
  display: none;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  padding-left: 8px;
}
.food-coin_value{
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding-left: 8px;
}
.menu-mobile{
  margin-left: 1.8vw;
}
.menu-mobile .button{
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  height: 35px;
  line-height: 36px;
}
:host /deep/ ul{
  display: flex;
  justify-content: space-between;
}
.nav_food-coin{
  order: 2;
  padding: 0 10px 0 5px;
  max-width: 140px;
  min-width: 125px;
}
.nav_food-coin /deep/ ul{
  justify-content: space-between;
}
@media (min-width: 414px) {
  .user_name{
    display: inline;
  }
}
@media (min-width: 560px) {
  .menu-mobile{
    margin-left: 15px;
  }
  .nav_food-coin{
    max-width: 210px;
  }
  .food-coin_name{
    display: inline;
  }
  .nav_basic{
    max-width: calc(100% - 210px);
  }
}
@media (min-width: 700px) {
  .form-search{
    display: flex;
    align-items: center;
    margin: 0 15px;
  }
  .form-search /deep/ .input-field{
    width: 195px;
  }
  .form-search input{
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    border: 1px solid #dcdcdc;
    padding: 0 32px 0 14px;
    margin: 0;
    box-sizing: border-box!important;
    color: #111111;
  }
  .form-search input::-webkit-input-placeholder,
  .form-search input::-moz-placeholder,
  .form-search input:-ms-input-placeholder,
  .form-search input:-moz-placeholder{
    color: #8b8b8b;
  }
  .form-search svg{
    position: absolute;
    top: calc(50% - 10px);
    right: 8px;
  }
  .form-search /deep/ .character-counter{
    height: 0!important;
  }
  input[type=text]:valid{
    border: 1px solid #dcdcdc!important;
    box-shadow: none!important;
  }
  .food-coin_name{
    display: none;
  }
  .form-search /deep/ #dropdown-search{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0!important;
    right: 0;
    background: #ffffff;
    border: 1px solid #dcdcdc!important;
    box-shadow: none;
  }
  .form-search /deep/ #dropdown-search li{
    min-height: 25px;
  }
  .form-search /deep/ #dropdown-search a{
    line-height: normal;
    height: auto;
    min-height: 25px;
    padding:8px 14px;
    font-size: 12px;
    color: #000000;
  }
  :host /deep/ .dropdown-content li:hover, :host /deep/ .dropdown-content li.active, :host /deep/ .dropdown-content li.selected{
    background: transparent;
  }
}
@media (min-width: 768px) and (min-height: 500px){
  .nav_basic{
    max-width: calc(100% - 150px);
  }
  .nav_basic a, .food-coin a{
    height: 45px;
    line-height: 45px;
  }
  .nav_user a {
    height: 44px;
    line-height: 44px;
  }
  .menu-mobile .button{
    height: 45px;
    line-height: 46px;
  }
  .logo{
    padding: 4px 0;
    width: 165px;
    margin: 0;
  }
  .form-search /deep/ .input-field{
    width: 230px;
  }
  .form-search{
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  .food-coin_name{
    display: none;
  }
  .form-search input{
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    border: 1px solid #dcdcdc;
    padding: 0 32px 0 14px;
    margin: 0;
    box-sizing: border-box!important;
    color: #111111;
  }
  .form-search input::-webkit-input-placeholder,
  .form-search input::-moz-placeholder,
  .form-search input:-ms-input-placeholder,
  .form-search input:-moz-placeholder{
    color: #8b8b8b;
  }
  .form-search svg{
    position: absolute;
    top: calc(50% - 10px);
    right: 8px;
  }
  .form-search /deep/ .character-counter{
    height: 0!important;
  }
  input[type=text]:valid{
    border: 1px solid #dcdcdc!important;
    box-shadow: none!important;
  }
}
@media (min-width: 992px){
  :host /deep/.nav-wrapper{
    flex-wrap: nowrap;
  }
  :host /deep/a {
    padding: 0 10px;
  }
  .nav_user{
    width: auto;
    padding: 0;
    background: transparent;
    border: none;
    order: 2;
    flex-grow: 2;
  }
  .nav_user mz-navbar-item{
    flex-grow: 1;
    display: flex;
  }
  .nav_user /deep/ li{
    flex-grow: 1;
  }
  .nav_food-coin{
    display: flex;
    order: 3;
    align-items: center;
    justify-content: flex-end;
    min-width: auto;
    max-width: 216px;
    padding: 0 0 0 20px;
    flex-grow: 1;
  }
  :host /deep/ ul{
    flex-grow: 1;
  }
  .nav_food-coin /deep/ li{
    width: 100%;
  }
  .menu-mobile{
    display: none;
  }
  :host /deep/.nav-wrapper {
    padding: 0 10px;
  }
  .nav_basic{
    max-width: none;
    padding-left: 0;
    flex-grow: 1;
  }
  .nav_basic /deep/ ul{
    justify-content: space-between;
  }
  .nav_basic a, .nav_user a {
    height: 59px;
    line-height: 59px;
  }
  .logo{
    padding: 6px 0;
    width: 174px;
  }
  .form-search{
    margin: 0 10px;
  }
  .form-search input{
    height: 40px;
    line-height: 40px;
  }
  :host /deep/ nav {
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
  }
  .food-coin{
    width: 100%;
  }
  .food-coin a{
    background: linear-gradient(-35deg, rgba(255, 208, 94, 0.4), rgba(255, 222, 144, 0.4), rgba(255, 240, 169, 0.4), rgba(255, 222, 144, 0.4), rgba(255, 208, 94, 0.4));
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    min-width: auto;
    padding: 0 15px 0 10px;
  }
  #tape_svg{
    display: none;
  }
  .user_tape-page{
    display: inline;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
  }
  .user_name{
    font-size: 14px;
    padding-left: 10px;
  }
  .user_profile{
    min-width: 110px;
    padding: 0 15px;
  }
  .form-search /deep/ #dropdown-search a{
    padding:10px 14px;
  }
}
@media (min-width: 1100px){
  .food-coin_name{
    display: inline;
  }
  .food-coin_value{
    margin-left: auto;
  }
}
@media (min-width: 1180px){
  .form-search /deep/ .input-field{
    width: 300px;
  }
}
@media (min-width: 1220px) {
  :host /deep/a {
    padding: 0;
  }
}
