.user_img img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.hdr{
  display: block;
}
.user-set_cont.mob-menu{
  display: block;
}
.mob-menu .user-set_el-link{
  justify-content: flex-start;
}
.mob-menu .user-set_el-link_text{
  min-width: 150px;
  text-align: center;
}
.mob-menu .user-set_el-link_img{
  margin-left: 50px;
  margin-right: 10px;
}
