<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{name}}</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="'/'">Home</a>
      </li>
      <li class="active">
        <strong>Мережа {{name}}</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Персоналізація мережі</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-6 b-r">
              <h4>Фон мережі</h4>
              <div class="img-wrap">
                <img class="img" src="{{bg.picCrop}}" alt="">
              </div>
              <app-upload [model]="'establishment'" [field]="'bg'" [id]="id" [btnName]="btnBG"></app-upload>
            </div>
            <div class="col-md-6">
              <h4>Аватар мережі</h4>
              <div class="img-wrap">
                <img class="img" src="{{av.picCrop}}" alt="">
              </div>
              <app-upload [model]="'establishment'" [field]="'av'" [id]="id" [btnName]="btnBG"></app-upload>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Власний сайт або соцмережі</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12 b-r">
              <div class="flx mrg-b">
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" (click)="isFormAdd = true"><strong>Додати url-адресу</strong></button>
              </div>

              <div *ngFor="let link of links">
                <div class="form-group"><label>Name</label>
                  <input type="text" [(ngModel)]="link.label" name="label" class="form-control">
                </div>
                <div class="form-group"><label>URL</label>
                  <input type="text" [(ngModel)]="link.url" name="url" class="form-control">
                </div>
                <hr>
              </div>

              <div *ngIf="isFormAdd">
                <div class="form-group"><label>Name</label>
                  <input type="text" [(ngModel)]="link['label']" name="label" class="form-control">
                </div>
                <div class="form-group"><label>URL</label>
                  <input type="text" [(ngModel)]="link['url']" name="url" class="form-control">
                </div>
                <div>
                  <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" (click)="links[links.length] = link"><strong>Додати</strong></button>
                </div>
              </div>

              <div class="flx">
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" (click)="update({links:links},'links'); isFormAdd = false"><strong>Зберегти</strong></button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Інформація про мережу:</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="form-horizontal">

            <div class="form-group">
              <label class="col-sm-2 control-label">Назва мережі</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" [(ngModel)]="name" name="name" class="form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" (click)="update({name:name},'name')">Зберегти</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">subdomain мережі</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" [(ngModel)]="subdomain" name="name" class="form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" (click)="update({subdomain:subdomain},'subdomain')">Зберегти</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Телефон</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" [(ngModel)]="mobile" name="name" class="form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" (click)="update({mobile:mobile},'mobile')">Зберегти</button>
                  </span>
                </div>
                <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Пошта</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="email" [(ngModel)]="mail" name="email" class="form-control" placeholder="email@example.com">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" (click)="update({mail:mail},'mail')">Зберегти</button>
                  </span>
                </div>
                <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Опис мережі</label>
              <div class="col-sm-10">
                <textarea type="text" [(ngModel)]="about" name="name" class="form-control"></textarea>
                <button type="button" class="btn btn-primary pull-right" (click)="update({about:about},'about')">Зберегти</button>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Мінімальна сума замовлення</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" [(ngModel)]="minPrice" name="name" class="form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" (click)="update({minPrice:minPrice},'minPrice')">Зберегти</button>
                  </span>
                </div>
                <span class="help-block m-b-none">(за замовчуванням 50грн але можна поставити більше)</span>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Робочий час</label>
              <div class="col-sm-10">
                <app-calendar [calendar]="worksTimeView"></app-calendar>
                <div class="select-wrap">
                  <app-select [option]="worksTimeAll"
                              (onCheck)="getCalendar($event)"
                              [defoult]="'calendar'"></app-select>
                  <!--<li *ngFor="let wt of worksTimeAll">{{wt.name}}</li>-->
                </div>
                <button type="button" class="btn btn-primary pull-right"
                        (click)="update({worksTime:worksTime},'worksTime')">Зберегти</button>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Можливості мережі<br/></label>
              <div class="col-sm-10">
                <div class="i-checks"><label> <input type="checkbox"
                                                     (change)="update({delivery:delivery},'delivery')"
                                                     [(ngModel)]="delivery"> <i></i> Доставка </label></div>
                <div class="i-checks"><label> <input type="checkbox"
                                                    (change)="update({getself:getself},'getself')"
                                                    [(ngModel)]="getself"> <i></i> На виніс </label></div>
                <div class="i-checks"><label> <input type="checkbox"
                                                     (change)="update({reservation:reservation},'reservation')"
                                                     [(ngModel)]="reservation"> <i></i> Бронювання </label></div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<!--delivery:{type: Boolean, default: true},-->
<!--getself:{type: Boolean, default: true},-->
<!--reservation:{type: Boolean, default: true},-->
