app-img{
  display: block;
  width: 20vw;
  min-width: 300px;
  max-width: 400px;
  min-height: 200px;
  margin-bottom: 15px;
}
.wrapper.wrapper-content.animated.fadeInRight{
   animation-fill-mode: none;
}
.icon-form img{
  width: 60px;
  margin-right: 10px;
}
.icon-form{
  display: flex;
  align-items: center;
}
label{
  display: flex;
  flex-direction: column;
}
