<div class="wrapper wrapper-content animated fadeInUp" *ngIf="myest" appPopap (onClose)="goBack($event)">
  <div class="cansel-popup-btn">
    <div class="ibox-tools">
      <button class="btn btn-cancel">Скасувати</button>
    </div>
    <div class="ibox-tools">
      <button (click)="update({
        name:myest.name,
        menus:myest.menus,
        mobile:myest.mobile,
        about:myest.about,
        worksTime:myest.worksTime,
        worksTimeId:myest.worksTimeId,
        status:myest.status,
        labelInUse:labelInUse,
        reservation:myest.reservation,
        getself:myest.getself,
        delivery:myest.delivery,
        coordinates:myest.coordinates,
        address:myest.address
        },'myest'); goBack('')" class="btn btn-primary">Зберегти</button>
    </div>
  </div>
  <div class="ibox">
    <div class="ibox-title">
      <h5>Редагувати <strong>"{{myest.name}}"</strong></h5>
    </div>
    <div class="ibox-content">
      <div class="form-horizontal">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-sm-4 control-label">Назва закладу</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" [(ngModel)]="myest.name" name="name" class="form-control">
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Телефон</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" [(ngModel)]="myest.mobile" name="name" class="form-control">
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Адреса</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" [(ngModel)]="myest.address" name="name" class="form-control">
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <h5 class="col-sm-4 control-label">Меню</h5>

            <div class="col-sm-8">
              <div class="flx" *ngIf="menus">
                <span class="dishingredient" *ngFor="let menu of menus">{{menu}}</span>
              </div>
              <app-check-option [option]="option" (onCheck)="getDish($event)"></app-check-option>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-sm-4 control-label">Опис закладу</label>
            <div class="col-sm-8">
              <div class="input-group">
                <textarea [(ngModel)]="myest.about" name="name" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Графік роботи</label>
            <div class="col-sm-8">
                <div class="control-label tt-left">{{myest.worksTime}}</div>
                <!--<app-calendar [calendar]="worksTimeView"></app-calendar>-->
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group"><label class="col-sm-4 control-label">Статус<br/></label>
            <div class="col-sm-8">
              <div class="i-checks"><label> <input type="checkbox"
                                                   [(ngModel)]="myest.status"> <i></i> Діючий заклад </label></div>
              <div class="i-checks"><label> <input type="checkbox"
                                                   [(ngModel)]="myest.delivery"> <i></i> Доставка </label></div>
              <div class="i-checks"><label> <input type="checkbox"
                                                   [(ngModel)]="myest.getself"> <i></i> На виніс </label></div>
              <div class="i-checks"><label> <input type="checkbox"
                                                   [(ngModel)]="myest.reservation"> <i></i> Бронювання </label></div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
        </div>

        <div class="col-lg-12">
          <div class="form-group">
            <h5 class="col-sm-4 control-label">Мітки</h5>

            <div class="col-sm-8">
              <div class="flx" *ngIf="labels">
                <ng-container *ngIf="afterSelect.length==0">
                <ng-container *ngFor="let label of myest.labelInUse">
                  <span class="dishingredient" *ngIf="label">{{label.name}}</span>
                </ng-container>
                </ng-container>
                <ng-container *ngFor="let label of afterSelect">
                  <span class="dishingredient" *ngIf="label">{{label.name}}</span>
                </ng-container>

              </div>
              <app-check-option *ngIf="option2.length>0" [option]="option2" (onCheck)="getLabel($event)"></app-check-option>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="col-md-2 control-label">Графік роботи</label>
            <div class="col-md-10">
              <app-calendar [calendar]="worksTimeView"></app-calendar>
              <div class="select-wrap">
                <app-select [option]="worksTimeAll"
                            (onCheck)="getCalendar($event)"
                            [defoult]="'calendar'"></app-select>
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
        </div>

        <div class="col-lg-12">
          <div class="form-group edit-map">
            <strong class="control-label">GPS координати</strong>
            <div class="map">
              <app-map (onxy)="myest.coordinates = $event"
                       [XY]="myest.coordinates">
              </app-map>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="ibox-title">
      <div></div>
      <div class="ibox-tools">
        <button class="btn btn-primary" (click)="update({
        name:myest.name,
        menus:myest.menus,
        mobile:myest.mobile,
        about:myest.about,
        worksTime:myest.worksTime,
        worksTimeId:myest.worksTimeId,
        status:myest.status,
        reservation:myest.reservation,
        getself:myest.getself,
        delivery:myest.delivery,
        coordinates:myest.coordinates,
        address:myest.address
        },'myest'); goBack('')">Зберегти</button>
      </div>
    </div>
  </div>
</div>
