.card{
  display: inline-flex;
  justify-content: space-between;
  line-height: 2em;
  max-height: 80px;
  min-width: 210px;
  border: 1px solid #e7eaec;
  margin: 1%;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 23%;
  overflow: hidden;
  transition: .5s;

}
.link-create{
  text-align: right;
  margin-top: 15px;
}
.card-wrap{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.card:hover{
  transition-delay: .5s;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.card:hover  .card-btn{
  transform: translateX(0);
}
.card-btn{
  transform: translateX(100%);
  transition: .5s;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -1px;
  padding: 15px;
}
.card-name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  margin-right: auto;
  max-width: calc(100% - 65px);
  margin-left: 10px;
}
.card-content{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.card-wrap .ibox-title{
  width: 100%;
  border-bottom: 1px solid #e7eaec;
}
.card-wrap{
  margin-bottom: 20px;
  box-shadow: 0px 2px 20px rgba(51, 51, 51, 0.22);
}
.card-wrap-ibox{
  padding: 15px 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
