  <div class="container-fluid">
    <app-search [mod]="'searchUserForAdm'" (onRes)="users = $event"></app-search>
    <div class="col-xs-12"><h2>Загальний баланс: {{foodCoin ? foodCoin.totalAmount : '0'}} FoodCoin</h2>
    </div>
    <div class="col-xs-12"><h2>Загальна кількість: {{collectionSize}}</h2>
    </div>
  </div>
 
  <div>
    <b>Сортування: </b>
    <select [(ngModel)]="sort">
        <option name="sort" value='{"data":-1}' selected>Дата реєстрації</option>
        <option name="sort" value='{"firstName":1}'>Ім'я</option>
        <option name="sort" value='{"lastName":1}'>Фамілія</option>
        <option name="sort" value='{"foodcoin":-1}'>FoodCoin</option>
        <option name="sort" value='{"email":-1}'>E-mail</option>
        <option name="sort" value='{"mobile":-1}'>Телефон</option>
      </select>

    <button style="margin: 20px;" type="button" class="btn btn-primary" (click)="letPage()">Сортувати</button>
    
  </div>

  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [(pageSize)]="col" [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="letPage()"></ngb-pagination>
  
  <div class="ibox-content">
    <table class="footable table table-bordered toggle-arrow-tiny footable-loaded tablet breakpoint">
      <thead>
        <tr>
          <th class="center sorting">Номер</th>
          <th class="center sorting">Ім'я</th>
          <th class="center">Фамілія</th>
          <th class="center">E-mail</th>
          <th class="center">Телефон</th>
          <th class="center">Дата реєстрації</th>
          <th class="center">Кількість друзів</th>
          <th class="center">Веріфікація</th>
          <th class="center">Foodcoin</th>
        </tr>
      </thead>
      <tbody>
        <tr class="gradeA even" role="row" *ngFor="let user of users; let i = index">
          <td class="center">{{(collectionSize <= col) ? collectionSize-i : collectionSize-((page-1)*col+i)}}</td>
          <td class="center">{{user.firstName}}</td>
          <td class="center">{{user.lastName}}</td>
          <td class="center">{{user.email}}</td>
          <td class="center">{{user.mobile}}</td>
          <td class="center">{{user.data | date:"dd/MM/yyyy"}}</td>      
          <td class="center">{{user.myFriends.length}}</td>
          <td class="center"><input type="checkbox" [ngModel]="user.verify"></td>
          <td class="center">{{user.foodcoin}}</td>      
        </tr>
      </tbody>
    
    </table>
  </div>
  <!--<button type="button" class="btn btn-primary" (click)="more()">Більше</button>-->
  