/* You can add global styles to this file, and also import other style files */
body{
  background-color: #e3e5e8;
}
.friends-list .friend-avatar img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
}
