/* You can add global styles to this file, and also import other style files */
*{
  outline: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  font-family: CenturyGothic, sans-serif;
}
::selection{
  background: rgba(0, 0, 0, 0.12);
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #000000;
}
body::-webkit-scrollbar-track {
  border: 5px solid #9c9c9c;
}
body{
  display: block;
  margin: 0;
  padding: 0;
  background-color: #fbf7ff;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('./assets/fonts/CenturyGothic.eot');
  src: local('Century Gothic'), local('CenturyGothic'),
  url('./assets/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/CenturyGothic.woff') format('woff'),
  url('./assets/fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0020-04FF
}
