/* You can add global styles to this file, and also import other style files */
*{
  outline: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #000000;
}
body::-webkit-scrollbar-track {
  border: 5px solid #9c9c9c;
}
