.h_t16{
  margin-bottom: 5px;
}
.c_t12{
  font-size: 12px;
  margin: 0;
}
.warr.md{
  top: 50%;
  max-height: 80%;
  overflow: hidden;
  transform: translateY(-50%);
}
.warr{
  font-size: 16px;
  text-align: center;
}
