<ng-container *ngIf="type == 'favoritest'">
  <a href="//{{res.favoritest.subdomain+'.'+host}}" class="cont br-lv" *ngIf="res">
    <div class="br-lv_h">
        <div class="svg20">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50" width="20" height="20" fill="#D75A4A"><path d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z"/></svg>
        </div>
      <span class="br-lv_t">Улюблений заклад</span>
    </div>
    <div class="br-lv_cntt">
      <!--<span class="br-lv_i pre-bg"></span>-->
      <div class="br-lv_i">
          <div class="inherit" *ngIf="res.favoritest">
              <app-img [img]="{id:res.favoritest.av}"></app-img>
          </div>
      </div>
    </div>
  </a>
</ng-container>


<ng-container *ngIf="type == 'dish'">
  <div class="cont el_cont br-lk2" *ngIf="!res">
    <div class="el_h">
      <span class="svg20">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50" width="20" height="20" fill="#D75A4A"><path d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z"/></svg>
      </span>
      <span class="el_h_tt">Улюбленні страви</span>
    </div>
    <div class="el_cntt">
      <span class="el_i pre-bg"></span>
      <span class="el_i pre-bg"></span>
      <span class="el_i pre-bg"></span>
      <span class="el_i pre-bg"></span>
      <span class="el_i pre-bg"></span>
      <span class="el_i pre-bg"></span>
    </div>
  </div>

  <div class="cont el_cont br-lk2" *ngIf="res">
    <div class="el_h">
      <span class="svg20">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50" width="20" height="20" fill="#D75A4A"><path d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z"/></svg>
      </span>
      <span class="el_h_tt">Улюбленні страви</span>
    </div>
    <div class="el_cntt" *ngIf="!res">
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
    </div>

    <div class="el_cntt">
      <a href="" class="el_i" *ngFor = "let img of res | slice:0:6">
        <ng-container *ngIf="img">
          <app-img [img]="{id:img.pic}"></app-img>
        </ng-container>
      </a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type == 'dish'">
  <div class="cont el_cont br-lk2">
    <div class="el_h">
      <span class="svg20">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50" width="20" height="20" fill="#D75A4A"><path d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z"/></svg>
      </span>
      <span class="el_h_tt">Найпопулярніші страви</span>
    </div>
    <div class="el_cntt" *ngIf="!hits">
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
      <app-prev-dish class="el_i"></app-prev-dish>
    </div>
    <div class="el_cntt" *ngIf="hits">
      <a href="" class="el_i" *ngFor = "let img of hits | slice:0:6">
        <ng-container *ngIf="img">
          <app-img [img]="{id:img.pic}"></app-img>
        </ng-container>
      </a>
    </div>
  </div>
</ng-container>
