<p>
  Список закладів мережі. Один створюється автоматично. Можна додавати нові. Інформація про заклад:
  назва (наприклад, Solo, що на Молоді), опис, адреса, GPS координати, телефон, графік роботи,
  меню, статус (діючий заклад чи ні). Можливості: доставка, на виніс,
  забронювати стіл (за замовчуванням стає як визначено для мережі, але можна зняти якусь галочку;
  наприклад, мережа і на доставку і на виніс і бронює столик, а саме цей заклад не доставляє)
</p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Заклади</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="'/'">Home</a>
      </li>
      <li>
        <a [routerLink]="'/chain/'+id">Мережа</a>
      </li>
      <li class="active">
        <strong>Заклади</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">

    <router-outlet></router-outlet>
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox-tools" style="padding: 15px;">
        <a [routerLink]="'/establishments/'+id+'/create/'+id" class="btn btn-primary btn-sm"><strong>Додати заклад</strong></a>
      </div>
      <div class="ibox">
        <div class="ibox-title">
          <h5>Заклади мережі</h5>
          <div class="ibox-tools">
            <i class="fa fa-chevron-up" style="transform: rotate(0deg); margin-right: 15px"></i>
          </div>
        </div>
        <div class="ibox-content">
          <div class="compo_wrap">
            <div class="compo_i" *ngFor="let est of myest">
              <div><strong>{{est.name}}</strong>  <span class="label label-primary pull-right" *ngIf="est.status">Active</span></div>
              <div>Телефон: {{est.mobile}}</div>
              <div>Адреса: {{est.address}}</div>
              <div>Графік роботи: {{est.worksTime}}</div>
              <div>Опис: {{est.about}}</div>
              <div class="compo_i-b">Доставка: <span class="label label-primary" *ngIf="est.delivery">Active</span> <span class="label label-default" *ngIf="!est.delivery">Unactive</span></div>
              <div class="compo_i-b">Бронювання: <span class="label label-primary" *ngIf="est.reservation">Active</span> <span class="label label-default" *ngIf="!est.reservation">Unactive</span></div>
              <div class="compo_i-b">З собою: <span class="label label-primary" *ngIf="est.getself">Active</span> <span class="label label-default" *ngIf="!est.getself">Unactive</span></div>
              <div class="btn-wrap">
                <app-confirm-delete (onDelete)="delet(est._id)"></app-confirm-delete>
                <a [routerLink]="'/establishments/'+id+'/edit/'+id+'/'+est._id" class="btn btn-white btn-sm pull-right"><i class="fa fa-pencil"></i> Редагувати</a>
                <!--<button (click)="delet(est._id)"  class="btn btn-danger btn-sm pull-right">Видалити</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

