<p>
  Список закладів мережі. Один створюється автоматично. Можна додавати нові. Інформація про заклад:
  назва (наприклад, Solo, що на Молоді), опис, адреса, GPS координати, телефон, графік роботи,
  меню, статус (діючий заклад чи ні). Можливості: доставка, на виніс,
  забронювати стіл (за замовчуванням стає як визначено для мережі, але можна зняти якусь галочку;
  наприклад, мережа і на доставку і на виніс і бронює столик, а саме цей заклад не доставляє)
</p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Заклади</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="'/'">Home</a>
      </li>
      <li>
        <a [routerLink]="'/chain/'+id">Мережа</a>
      </li>
      <li class="active">
        <strong>Заклади</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">

      <div class="ibox">
        <div class="ibox-title">
          <h5>Заклади мережі</h5>
          <div class="ibox-tools">
            <a [routerLink]="'/establishments/'+id+'/create/'+id" class="btn btn-primary btn-sm"><strong>Додати заклад</strong></a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="project-list">

            <table class="table table-hover">
              <tbody>
                <tr *ngFor="let est of myest">
                  <td class="project-status">
                    <span class="label label-primary">Active</span>
                  </td>
                  <td class="project-title">
                    <strong>{{est.name}}</strong>
                    <br/>
                    <small>Номер телефону: {{est.mobile}}</small>
                    <br/>
                    <small>{{est.address}}</small>
                    <br/>
                    <small>{{est.worksTime}}</small>
                  </td>
                  <td class="project-completion">
                    <small>{{est.about}}</small>
                  </td>
                  <td class="project-actions">
                    <a (click)="delet(est._id)" class="btn btn-danger btn-sm"><i class="fa fa-folder"></i> Видалити </a>
                    <a [routerLink]="'/establishments/'+id+'/edit/'+id+'/'+est._id" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Редагувати </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
