<ul>
  <li><a [routerLink]="'/'"> Home </a></li>
  <li *ngFor="let est of ests">
    <a [routerLink]="'/chain/'+est._id"> Мережа {{est.subdomain}}</a>
    <ul>
      <li><a [routerLink]="'/establishments/'+est._id"> Заклади </a></li>
      <li><a [routerLink]="'/work_time/'+est._id"> Графік роботи </a></li>
      <li><a [routerLink]="'/menu/'+est._id"> Меню </a>
        <ul>
          <li><a [routerLink]="'/dish/'+est._id"> Страви </a></li>
          <li><a [routerLink]="'/category/'+est._id"> Категорії </a></li>
          <li><a [routerLink]="'/global_category/'+est._id"> Глобальні категорії </a></li>
          <li><a [routerLink]="'/complement/'+est._id"> Додатки </a></li>
          <li><a [routerLink]="'/box/'+est._id"> Упаковка </a></li>
        </ul>
      </li>
      <li><a [routerLink]="'/order/'+est._id"> Замовлення </a>
        <ul>
          <li><a [routerLink]="'/delivery/'+est._id"> Доставка </a></li>
          <li><a [routerLink]="'/get_by_self/'+est._id"> На виніс </a></li>
          <li><a [routerLink]="'/reservation/'+est._id"> Бронь столу </a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a [routerLink]="'/setting'"> Setting </a></li>
</ul>
