a{
  white-space: nowrap;
}
.metismenu ul{
  padding-left: 0px;
}
.nav  li.active {
  border-left: 4px solid #19aa8d;
  background: #293846;}
.sidebar-collapse{
  max-height: 100vh;
  overflow: auto;
  padding-bottom: 30px;
}
.count{
  height: 16px;
  border-radius: 15px;
  min-width: 15px;
  background: #0d8ddb;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 10px;
  padding: 5px;;
}
