<div class="container-fluid" *ngIf="dish">
  <div class="row">
    <div class="col s12 m4">
      <h5>Назва</h5>
    </div>
    <div class="col s12 m8">
      <input type="text" [(ngModel)]="dish.name" name="name">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h5>Категория страви</h5>
    </div>
    <div class="col s12 m8">
      <div class="category-for" *ngIf="dish.dishcategory">
        <span class="dishingredient">{{dish.dishcategory.name}}</span>
      </div>
      <app-select *ngIf="option.length>0"
                  [option]="option"
                  [defoult]="'check'"
                  (onCheck)="selected($event)"></app-select>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h5>Про страву</h5>
    </div>
    <div class="col s12 m8">
      <input type="text" [(ngModel)]="dish.about" name="name">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h5>Обов'язкові компоненти страви</h5>
    </div>
    <div class="col s12 m8">
      <span class="dishingredient"
            (click)="delingredient(i)"
            *ngFor="let ing of complementsM; let i = index">{{ing}}</span>
      <app-check-option [option]="complements" (onCheck)="checkCom($event)"></app-check-option>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h5>Не обов'язкові компоненти страви</h5>
    </div>
    <div class="col s12 m8">
      <span class="dishingredient"
            (click)="delingredient2(i)"
            *ngFor="let ing of complementsOptM; let i = index">{{ing}}</span>
      <app-check-option [option]="complementsOpt" (onCheck)="checkComOpt($event)"></app-check-option>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h5>dish.pic</h5>
      <app-upload (onLoadImg)="dish.pic = $event" [btn]="btnBG"></app-upload>
      <app-upload [model]="'dish'" [field]="'pic'" [id]="dish._id"></app-upload>
    </div>
    <div class="col s12 m8">
      <app-pic *ngIf="dish.pic" [pic]="dish.pic"></app-pic>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <label>
        <input type="checkbox"
               [(ngModel)]="dish.isdelivery"
               class="filled-in">
        <span>Доставка</span>
      </label>
    </div>
    <div class="col s12 m4">
      <label>
        <input type="checkbox"
               [(ngModel)]="dish.isnew"
               class="filled-in">
        <span>isnew</span>
      </label>
    </div>
    <div class="col s12 m4">
      <label>
        <input type="checkbox"
               [(ngModel)]="dish.ishit"
               class="filled-in">
        <span>ishit</span>
      </label>
    </div>
  </div>
  <div class="row">
    <span class="btn" (click)="update(dish)">Редагувати</span>
  </div>
</div>
