
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Меню</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="'/'">Home</a>
      </li>
      <li>
        <a [routerLink]="'/chain/'+id">Мережа</a>
      </li>
      <li class="active">
        <strong>Меню</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <router-outlet></router-outlet>

    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox-tools"  style="padding: 15px;">
        <a [routerLink]="'/menu/'+id+'/create/'+id" class="btn btn-primary">Створити меню</a>
      </div>
      <div class="ibox" appAcardion>
        <div class="ibox-title">
          <h5>Меню</h5>
          <div class="ibox-tools">
            <i class="fa fa-chevron-up" style="transform: rotate(0deg); margin-right: 15px"></i>
          </div>
        </div>
        <div class="ibox-content">
          <div class="form-horizontal" *ngIf="menu.length > 0">
            <ng-container *ngFor="let item of menu">

              <div class="form-group">
                <label class="col-sm-2 control-label">{{item.name}}</label>
                <div class="col-sm-10">
                  <div *ngIf="item.pic">
                    <app-pic [pic]="item.pic"></app-pic>
                  </div>
                  <div class="btn-wrap">
                    <!--<button (click)="delet(item._id)" class="btn btn-danger btn-sm pull-right">Видалити</button>-->
                    <app-confirm-delete (onDelete)="delet(item._id)"></app-confirm-delete>
                    <a [routerLink]="'/menu/'+id+'/'+id+'/'+item._id" class="btn btn-white btn-sm pull-right"><i class="fa fa-pencil"></i> Редагувати</a>
                  </div>
                </div>
              </div>
              <div class="hr-line-dashed"></div>

            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
