<div class="container-fluid" *ngIf="complement">
  <div class="row">
    <div class="col s12 m4">
      <h5>Назва</h5>
    </div>
    <div class="col s12 m8">
      <input type="text" [(ngModel)]="complement.name" name="name">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h5>massa</h5>
    </div>
    <div class="col s12 m8">
      <input type="text" [(ngModel)]="complement.massa" name="maincategory">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h5>energy</h5>
    </div>
    <div class="col s12 m8">
      <input type="text" [(ngModel)]="complement.energy" name="globcategory">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h5>price</h5>
    </div>
    <div class="col s12 m8">
      <input type="text" [(ngModel)]="complement.price" name="globcategory">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h5>maincategory</h5>
    </div>
    <div class="col s12 m8">
      <div class="category-for" *ngIf="complement.maincategory ">
        <span class="dishingredient">{{complement.maincategory.label}}</span>
      </div>
      <app-select *ngIf="option.length>0"
                  [option]="option"
                  [defoult]="key"
                  (onCheck)="selected($event)"></app-select>
    </div>
  </div>
  <div class="row">
    <span class="btn" (click)="update(complement)">Редагувати</span>
  </div>
</div>
