select{
  display: block;
}
app-pop-prod-add{
  width: 100%;
}
ul.active {
  position: absolute;
  top: 25px;
  left: 0;
  display: block;
  opacity: 1;
}
.btn-border{
  min-width: 80px;
  max-width: 125px;
  height: 26px;
  font-size: 12px;
  color: #000000;
  padding: 0 5px 0 0;
  border: none;
  margin: 0;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  line-height: 26px;
  display: block;
  user-select: none;
  z-index: 1;
  text-align: left;
}
.select-wrapper .caret {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
  fill: rgba(0, 0, 0, 0.87);
  transition: transform .2s ease-in-out;
}
.select-wrapper.active .caret{
  transform: rotateZ(180deg);
}
.select-tr .select-wrapper:before{
  left: 0;
  width: calc(100% - 18px);
}
.select-tr .dropdown-content{
  min-width: 80px;
  right: 0;
}
