<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12"><h2>Баланс: {{foodCoin || 0}} foodCoin</h2><h3 *ngIf="foodCoin < 500" class="text-danger">(рекомендований баланс: 500 FoodCoin)</h3> 
      <ol class="breadcrumb">
        <li><a [routerLink]="'/'">Home</a></li>
        <li><a [routerLink]="'/balans/'+id">Баланс</a></li>
      </ol>
    </div>
  </div>
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [(pageSize)]="col" [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="letPage()"></ngb-pagination>

  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-content">
            <!--<div class="wrap-tabs">
              <div class="label-tab" *ngFor="let tab of [1,2,3,4,5,6,7]"
                   (click)="getByStatus(tab)"
                   [innerHTML]="tab | status | safeHTML">
              </div>
            </div>-->
            <table class="footable table table-bordered toggle-arrow-tiny footable-loaded tablet breakpoint" data-page-size="15" *ngIf="load; else preload">
              <thead>
              <tr>
                <th class="footable-visible footable-first-column text-center">№</th>
                <th class="footable-visible text-center">Номер</th>
                <th class="footable-visible text-center">Ім'я</th>
                <th class="footable-visible text-center">Тип</th>
                <th class="footable-visible text-center">Сума замовлення</th>
                <th class="footable-visible text-center">Дата</th>
                <th class="footable-visible text-center">Бонуси</th>
                <th class="footable-visible text-center">Тип оплати</th>
                <th class="text-right footable-visible footable-last-column">Статус</th>
  
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let order of list; let i = index">
                <tr class="footable-even sible footable-first-column"
                  
                >
                  <td class="footable-visible text-center">
                      {{(collectionSize <= col) ? collectionSize-i : collectionSize-((page-1)*col+i)}}
                    <!--{{(collectionSize <= col) ? collectionSize-i : collectionSize-((page-1)*col+i)}}-->
                  </td>
                  <td class="footable-visible text-center">
                    {{order.orderNumber}}
                  </td>
                  <td class="footable-visible text-center"><span class="footable-toggle"></span>
                    {{order.client.firstName}} {{order.client.lastName}}
                  </td>
                  <td class="footable-visible text-center"
                  [ngClass]="{'success': order.type == 'delivery',
                            'info': order.type == 'bySelf',
                            'warning': order.type == 'reserve'
                  }">                    
                    <span> {{order.type == 'delivery' ? 'Доставка' : (order.type == 'bySelf' ? 'На виніс' : 'Резерв')}} </span>                    
                  </td>
                  <td class="footable-visible text-center">
                    {{order.price}}
                  </td>
                  <td class="footable-visible text-center">
                    Дата закриття: {{order.dataUpdate | date:'dd.MM.yy HH:mm'}}<br>
                    Дата створення: {{order.dataCreate | date:'dd.MM.yy HH:mm'}}
                    
                  </td>
                  <td class="footable-visible text-center"
                  [ngClass]= "{
                    'bg-primary': order.paymentType == 'coin',
                    'bg-danger': order.paymentType !== 'coin'
                  }"
                  >
                    {{order.paymentType == 'coin' ? '+' : '-'}} {{order.history ? order.history.coin : '-'}}
                  </td>
                  <td class="footable-visible text-center">                    
                      <span> {{order.paymentType == 'fiat' ? 'Готівка' : (order.paymentType == 'coin' ? 'FoodCoin' : 'Карта')}} </span>                    
                    </td>
                  <td class="text-right footable-visible" [innerHTML]="order.status | status | safeHTML">
                  </td>                  
                </tr>
              </ng-container>
              </tbody>
              <tfoot>
  
              </tfoot>
            </table>
  
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #preload>
    <div class="container">
      <div class="row center">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </ng-template>
  