/*header prof*/
.cont_h-pf_update {
  position: absolute;
  right: 15px;
  bottom: 10px;
}
.h-pf_img {
  display: block;
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.10);
  width: 100px;
  height: 100px;
  max-width: 200px;
  max-height: 200px;
}
.h-pf_tt {
  position: absolute;
  padding: 0 10px;
  text-transform: capitalize;
  height: 20px;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  text-shadow: -3px -6px 25px #ffffff, -4px 4px 25px #ffffff, 10px 4px 26px #ffffff, 15px -5px 20px #ffffff,  0 0 25px #ffffff, 0 0 30px #ffffff;
  left:calc(50% + 50px);
  right: 0;
  bottom: 27px;
  z-index: 2;
}
.cont_h-pf .btn-green{
  display: none;
}
app-last-name{
  display: none;
}
.h-pf_bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100%; }

.cont_h-pf_loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 400px) {
  .h-pf_img {
    width: 115px;
    height: 115px;
  }
  .h-pf_tt {
    left: calc(50% + 65px);
  }
}
@media (min-width: 560px){
  .h-pf_bg {
    bottom: 0;
  }
  .h-pf_img {
    width: 22vw;
    height: 22vw;
  }
  .cont_h-pf{
    padding: 15px 10px;
  }
  .h-pf_tt{
    display: inline-block;
    max-width: 250px;
    left: calc(20px + 22vw);
    right: auto;
    line-height: 22px;
    font-size: 16px;
    bottom: 38px;
  }
  app-last-name{
    display: inline;
  }
}
@media (min-width: 768px) and (min-height: 500px) {
  .h-pf_tt{
    bottom: 30px;
  }
  .cont_h-pf .btn-green{
    display: block;
    width: 200px;
    margin-left: auto;
    font-weight: bold;
    z-index: 2;
  }
}
@media (min-width: 950px) {
  .h-pf_tt {
    font-size: 18px;
    line-height: 26px;
    max-width: 500px;
    left: 228px;
  }
}

@media (min-width: 992px) {
  .h-pf_img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1240px) {
  .cont_h-pf{
    padding: 15px;
  }
}
/*end header prof*/

/*start friends*/
.frn {
  width: 100%;
  padding: 0 6px 10px;
  min-height: 153px;
}
.frn_h {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 53px;
  font-size: 14px;
  color: #501a7b;

}
.frn_h *:not(button){
  text-decoration: underline;
  text-underline-position: under;
  text-underline-color: #501a7b;
}
.btn-trans {
  cursor: pointer;
  color: rgba(97, 20, 143, 0.5);
  transition: text-shadow .25s ease-in-out;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

.btn-trans.active {
  color: #00a3ff;
  text-decoration: underline;
  text-underline-position: under;
}
.btn-trans.red.active {
  color: #D75A4A;
  text-decoration: underline;
  text-underline-position: under;
}
.frn_i {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px -2px 10px 1px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 16px 8px 10px;
  min-height: 136px;
  margin-bottom: 10px;
}
.frn_i.frn_pre{
  justify-content: center;
  text-align: center;
  font-size: 14px;
  padding: 15px 15px 17px;
}
.frn_us {
  display: flex;
}
.frn_in {
  color: rgba(0, 0, 0, 0.5);
  padding: 6px 10px 0;
}
.frn_in p{
  margin: 5px 0;
}
.frn_name {
  color: #000000;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  cursor: pointer;
  transition: text-shadow .25s ease-in-out;
}
.frn_name:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.frn_img {
  display: block;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  cursor: pointer;
  transition: box-shadow .2s ease-in-out;
}
.frn_img:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.frn_btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 700px) {
  .frn_i {
    flex-direction: row;
    min-height: 100px;
    justify-content: space-between;
  }
  .frn_btn {
    flex-direction: column;
    justify-content: space-around;
  }
  .frn-green{
    margin: auto 0;
  }
}
@media (min-width: 768px) and (min-height: 500px) {
  .frn {
    padding: 0 16px 10px;
  }
  .frn_i {
    padding: 16px 15px 15px 20px;
    border: 1px solid #e8e8e8;
    margin-bottom: 12px;
    min-height: 106px;
    transition: .25s;
  }
  .frn_i.frn_pre{
    font-size: 16px;
    padding: 20px 25px 23px;
  }
  .frn_in {
    font-size: 14px;
  }
  .frn_h {
    width: 240px;
    height: 58px;
    justify-content: space-between;
  }
}
@media (min-width: 992px) and (min-height: 500px) {
  .frn_in {
    padding: 6px 25px 0 10px;
  }
}
@media (min-width: 1100px) {
  .frn_i {
    padding: 16px 27px 15px 20px;
  }
}
@media (min-width: 1220px) {
  .frn_btn {
    width: 100%;
    max-width: 200px;
  }
}
/*end friends*/

/*start gallery*/
.gl-cont {
  padding: 0 15px  10px;
}
.gl_h {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
}
.gl_ct {
  font-size: 14px;
  color: #00a3ff;
  font-weight: bold;
  padding: 5px 15px;
}
.gl_c {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: -2.5px;
}
.gl_i {
  display: block;
  flex: 0 0 calc((100% / 3) - 5px);
  width: 100%;
  min-height: 20vw;
  max-height: 40vw;
  margin: 2.5px;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}
.gl_i:hover{
  opacity: .85;
}
@media (min-width: 768px) and (min-height: 500px) {
  .gl-cont {
    padding: 0 16px 8px;
  }
  .gl_h {
    height: 60px;
  }
  .gl_ct {
    padding: 5px 0;
  }
  .gl_c {
    padding: 15px 16px 45px;
    box-sizing: border-box;
    box-shadow: 2px -2px 10px 1px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }
  .gl_i {
    min-height: 100px;
    max-height: 300px;
  }
}
@media (min-width: 992px) and (min-height: 500px) {
  .gl_i {
    margin: 10px;
    flex: 0 0 calc((100% / 3) - 20px);}
  .gl_c {
    padding: 15px 15px 45px;
    margin: -10px;
  }
}
/*end gallery*/
.btn{
  cursor: pointer;
}
.l_i.ng-star-inserted{
  overflow: hidden;
}
.l_i,
.l_i_bg{
  max-height: inherit;
  height: inherit;
}
