.btn{
  cursor: pointer;
}
.btnActive.active.up .svg20:last-of-type{
  transform: rotate(180deg);
}
/*.l_i.ng-star-inserted{*/
  /*overflow: hidden;*/
/*}*/
/*.l_i,*/
/*.l_i_bg{*/
  /*max-height: inherit;*/
  /*height: inherit;*/
/*}*/
.l_i{
  max-height: 293px;
}
.l_i_bg{
  max-height: 293px;
}
