<ng-container *ngIf="obj">
  <div class="content-wrap">
    <div>
      <img [src]="obj.picC">
    </div>
    <div class="textArea">
      <textarea name="name-calendar"
                placeholder="Назва каледаря*"
                [(ngModel)]="obj.about"></textarea>
    </div>
  </div>

  <div class="bottom-wrap">
    <app-load-action
      [model]="'action'"
      (getImg)="getPic($event)"
      [field]="'pic'"></app-load-action>

    <button (click)="save()" class="btn">Зберегти</button>
  </div>

</ng-container>
