<!doctype html>
<html lang="en">
<meta charset="utf-8">
    <title>Admin</title>
    <link rel="manifest" href="/manifest.json">
    <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.d9500c3e235bc0613c2c.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.ec2944dd8b20ec099bf3.js"></script><script type="text/javascript" src="polyfills.c6871e56cb80756a5498.js"></script><script type="text/javascript" src="scripts.9af56edf26ce470d7270.js"></script><script type="text/javascript" src="main.6b8dc1293ee72dfc239b.js"></script></body>
</html>
