<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129384327-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129384327-1');
    </script>

    <meta charset="utf-8">
    <meta name="description" content ="Taste of Life – перша мережа для реального спілкування.  Замовляйте їжу з кращих ресторанів додому. Відгуки та рейтинги закладів.">
    <meta name="keywords" content="Taste of Life, тейст оф лайф, замовити піцу, доставка, меню, соцмережа, ресторан, кафе, бар, піца, відгуки, рейтинги, tasteol.com">
    <title>Taste of Life</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon_57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon_60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon_72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon_76.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicon_94.png">
    <meta name="theme-color" content="#8ccfff">
    <meta property="og:site_name" content="Taste of Life" />
    <meta property="og:locale" content="uk_UA" />
    <meta property="og:title" content="Taste of Life" />
    <meta property="og:image" content="http://tasteol.com/images/favicon_94.png" />
    <meta property="og:url" content="http://tasteol.com" />
    <meta property="og:description" content="Taste of Life" />
    <meta property="og:type" content="article" />

    <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.4f7bd1981da24dca7520.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.a66f828dca56eeb90e02.js"></script><script type="text/javascript" src="polyfills.7fb637d055581aa28d51.js"></script><script type="text/javascript" src="scripts.8a46776318ae6c87805b.js"></script><script type="text/javascript" src="main.935f6fc9caf86a601c5c.js"></script></body>
</html>