<div class="chosen-container chosen-container-single chosen-container-active" [class.chosen-with-drop]="isActive" *ngIf="option">
  <div class="chosen-single" (click)="isActive=!isActive">
    <span>{{slected ? slected.label : defoult}}</span>
    <div><b></b></div>
  </div>
  <div class="chosen-drop">
    <ul class="chosen-results">
      <li class="active-result" [class.result-selected]="opt.label == defoult" [class.highlighted]="opt.label == defoult" *ngFor="let opt of option" (click)="selectOption(opt)">{{opt.label}}</li>
    </ul>
  </div>
</div>
