<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins" *ngIf="dish">
        <div class="ibox-title">
          <h5>Створити страву</h5>
          <div class="ibox-tools">
            <button class="btn btn-primary" (click)="create(dish)">Створити</button>
          </div>
        </div>
        <div class="ibox-content">
          <div class="form-horizontal">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Назва</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]="dish.name" name="name" class="form-control">
                  </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-4 control-label">Категорія</label>
                  <div class="col-sm-8">
                    <app-select *ngIf="option.length>0"
                                [option]="option"
                                [defoult]="'Обрати категорію'"
                                (onCheck)="dish.dishcategory = $event.id"></app-select>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Опис</label>
                  <div class="col-sm-10">
                    <textarea [(ngModel)]="dish.about" name="name" class="form-control"></textarea>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-6 control-label">Обов'язкові компоненти страви</label>
                  <div class="col-sm-6">
                  <span class="ctg label label-primary"
                        (click)="delingredient(i)"
                        *ngFor="let ing of complementsM; let i = index">{{ing}}</span>
                    <app-check-option [option]="complements" (onCheck)="checkCom($event)"></app-check-option>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-6 control-label">Не обов'язкові компоненти страви</label>
                  <div class="col-sm-6">
                  <span class="ctg label label-primary"
                        (click)="delingredient2(i)"
                        *ngFor="let ing of complementsOptM; let i = index">{{ing}}</span>
                    <app-check-option [option]="complementsOpt" (onCheck)="checkComOpt($event)"></app-check-option>
                  </div>
                </div>

              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="col-sm-4 control-label">Зображення страви</label>
                  <div class="col-sm-8">
                    <app-upload [model]="'dish'" [field]="'pic'"
                                [id]="dish._id"
                                (getImg)="getImg($event)"
                                [btnName]="btnBG"></app-upload>
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8">
                    <div class="img-prod">
                      <ng-container *ngIf="dish.pic; else preDishPic">
                        <ng-container *ngIf="dish.pic.picCrop; else preDishPic">
                          <img class="img" src="{{dish.pic.picCrop}}" alt="">
                        </ng-container>
                      </ng-container>
                      <ng-template #preDishPic>
                        <app-prev-dish class="inherit"></app-prev-dish>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-4 control-label">Статус<br/></label>
                  <div class="col-sm-8">
                    <div class="i-checks"><label> <input type="checkbox"
                                                         [(ngModel)]="dish.isdelivery"> <i></i> Доставка </label></div>
                    <div class="i-checks"><label> <input type="checkbox"
                                                         [(ngModel)]="dish.isnew"> <i></i> Новинка </label></div>
                    <div class="i-checks"><label> <input type="checkbox"
                                                         [(ngModel)]="dish.ishit"> <i></i> Хіт </label></div>
                    <div class="i-checks"><label> <input type="checkbox"
                                                         [(ngModel)]="dish.isActia"> <i></i> Активна </label></div>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--dish create-->

<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>Назва</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<input type="text" [(ngModel)]="dish.name" name="name">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>category</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8" #it>-->
      <!--<div class="category-for" *ngIf="it.label">-->
        <!--<span class="dishingredient" >{{it.label}}</span>-->
      <!--</div>-->
      <!--<app-select *ngIf="option.length>0"-->
                  <!--[option]="option"-->
                  <!--[defoult]="'check'"-->
                  <!--(onCheck)="it.label = $event.label; dish.dishcategory = $event.id"></app-select>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>about</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<input type="text" [(ngModel)]="dish.about" name="name">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>dishingredient</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<span class="dishingredient" *ngFor="let ing of dish.dishingredient">{{ing}}</span>-->
      <!--<input type="text" (keyup)="check()" [(ngModel)]="setArg" name="name">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>Порція</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<div *ngFor="let prtn of dish.portion" class="links-form">-->
        <!--<label> massa <input type="text" [(ngModel)]="prtn.massa" name="massa"></label>-->
        <!--<label> name <input type="text" [(ngModel)]="prtn.name" name="name"></label>-->
        <!--<label> about <input type="text" [(ngModel)]="prtn.about" name="about"></label>-->
        <!--<label> price <input type="text" [(ngModel)]="prtn.price" name="price"></label>-->
      <!--</div>-->
      <!--<button class="btn" (click)="isFormAdd = true">add portion</button>-->
      <!--<div *ngIf="isFormAdd">-->
        <!--<label> massa <input type="text" [(ngModel)]="portion['massa']" name="massa"></label>-->
        <!--<br>-->
        <!--<label> name <input type="text" [(ngModel)]="portion['name']" name="name"></label>-->
        <!--<br>-->
        <!--<label> about <input type="text" [(ngModel)]="portion['about']" name="about"></label>-->
        <!--<br>-->
        <!--<label> price <input type="text" [(ngModel)]="portion['price']" name="price"></label>-->
        <!--<button class="btn" (click)="dish.portion[dish.portion.length] = portion;-->
                                     <!--isFormAdd = false">add</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>dish.pic</h5>-->
      <!--&lt;!&ndash;<app-upload (onLoadImg)="dish.pic = $event" [btn]="btnBG"></app-upload>&ndash;&gt;-->
      <!--<app-upload [model]="'dish'" [field]="'pic'" [id]="dish._id" [btnName]="btnBG"></app-upload>-->

    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<app-img *ngIf="dish.pic" [id]="dish.pic._id"></app-img>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<label>-->
        <!--<input type="checkbox"-->
               <!--[(ngModel)]="dish.isdelivery"-->
               <!--class="filled-in">-->
        <!--<span>Доставка</span>-->
      <!--</label>-->
    <!--</div>-->
    <!--<div class="col s12 m4">-->
      <!--<label>-->
        <!--<input type="checkbox"-->
               <!--[(ngModel)]="dish.isnew"-->
               <!--class="filled-in">-->
        <!--<span>isnew</span>-->
      <!--</label>-->
    <!--</div>-->
    <!--<div class="col s12 m4">-->
      <!--<label>-->
        <!--<input type="checkbox"-->
               <!--[(ngModel)]="dish.ishit"-->
               <!--class="filled-in">-->
        <!--<span>ishit</span>-->
      <!--</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<span class="btn" (click)="create(dish)">Створити</span>-->
  <!--</div>-->
<!--</div>-->
<!--end dish create-->

<!--new dish create-->
<!--<div class="container-fluid" *ngIf="dish">-->
  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>Назва</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<input type="text" [(ngModel)]="dish.name" name="name">-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>Категория страви</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<div class="category-for" *ngIf="dish.dishcategory">-->
        <!--<span class="dishingredient">{{dish.dishcategory.name}}</span>-->
      <!--</div>-->
      <!--<app-select *ngIf="option.length>0"-->
                  <!--[option]="option"-->
                  <!--[defoult]="'check'"-->
                  <!--(onCheck)="selected($event)"></app-select>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>Про страву</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<input type="text" [(ngModel)]="dish.about" name="name">-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>Обов'язкові компоненти страви</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<span class="dishingredient"-->
            <!--(click)="delingredient(i)"-->
            <!--*ngFor="let ing of complementsM; let i = index">{{ing}}</span>-->
      <!--<app-check-option [option]="complements" (onCheck)="checkCom($event)"></app-check-option>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>Не обов'язкові компоненти страви</h5>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<span class="dishingredient"-->
            <!--(click)="delingredient2(i)"-->
            <!--*ngFor="let ing of complementsOptM; let i = index">{{ing}}</span>-->
      <!--<app-check-option [option]="complementsOpt" (onCheck)="checkComOpt($event)"></app-check-option>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<h5>Зображення страви</h5>-->
      <!--<app-upload [model]="'dish'" [field]="'pic'"-->
                  <!--[id]="dish._id"-->
                  <!--(getImg)="getImg($event)"-->
                  <!--[btnName]="btnBG"></app-upload>-->
    <!--</div>-->
    <!--<div class="col s12 m8">-->
      <!--<ng-container *ngIf="dish.pic; else preDishPic">-->
        <!--<ng-container *ngIf="dish.pic.picCrop; else preDishPic">-->
          <!--<img src="{{dish.pic.picCrop}}" alt="">-->
        <!--</ng-container>-->
      <!--</ng-container>-->
      <!--<ng-template #preDishPic>-->
        <!--<app-prev-dish></app-prev-dish>-->
      <!--</ng-template>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col s12 m4">-->
      <!--<label>-->
        <!--<input type="checkbox"-->
               <!--[(ngModel)]="dish.isdelivery"-->
               <!--class="filled-in">-->
        <!--<span>Доставка</span>-->
      <!--</label>-->
    <!--</div>-->
    <!--<div class="col s12 m4">-->
      <!--<label>-->
        <!--<input type="checkbox"-->
               <!--[(ngModel)]="dish.isnew"-->
               <!--class="filled-in">-->
        <!--<span>isnew</span>-->
      <!--</label>-->
    <!--</div>-->
    <!--<div class="col s12 m4">-->
      <!--<label>-->
        <!--<input type="checkbox"-->
               <!--[(ngModel)]="dish.ishit"-->
               <!--class="filled-in">-->
        <!--<span>ishit</span>-->
      <!--</label>-->
    <!--</div>-->
    <!--<div class="col s12 m4">-->
      <!--<label>-->
        <!--<input type="checkbox"-->
               <!--[(ngModel)]="dish.isActia"-->
               <!--class="filled-in">-->
        <!--<span>isActia</span>-->
      <!--</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<span class="btn" (click)="create(dish)">Редагувати</span>-->
  <!--</div>-->
<!--</div>-->
<!--end new dish create-->

