#search-input{
  margin-bottom: 8px !important;
}
.user_img img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.us-s.mob-m{
  display: block;
  margin-bottom: 25px;
}
.mob-m .us-s_i{
  justify-content: flex-start;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.mob-m .us-s_t{
  min-width: 140px;
  text-align: center;
}
.us-s_i {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-shadow: 3px -3px 20px -1px rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  box-sizing: border-box;
  padding: 0 11px;
  background: #ffffff;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.mob-m .svg20{
  margin-left: calc(50% - 90px);
  margin-right: 5px;
}

.mob-m_close{
  display: block;
  margin: 15px 16px 15px auto;
  opacity: .5;
}
.mob-m_close:hover{
  opacity: .8;
}
.mob-m .us-s_list{
  margin-left: calc(50% - 110px);
  margin-top: 25px;
  display: block;
}
.mob-m .us-s_list, .mob-m .us-s_l{
  list-style-type: none!important;
}
.mob-m .us-s_i{
  background: rgba(255, 255, 255, 0.8);
  margin: 2px 0;
}
.mob-m .us-s_i:hover{
  background: transparent;
}.mob-m .us-s_i:hover .us-s_t{
   color: #000000;
 }
.mob-m .us-s_l{
  line-height: 28px;
  margin: 2px 0;
}
.svg-m_ab{
  display: block;
  width: 300px;
  height: 300px;
  left: 0;
  right: 0;
  top: 20%;
  position: absolute;
  margin: 0 auto;
  z-index: -1;
  opacity: .2;
}
