<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Taste of Life</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles.631e0261c49ed1596e9e.css"></head>
<body>
<app-root>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</app-root>
<script type="text/javascript" src="runtime.a66f828dca56eeb90e02.js"></script><script type="text/javascript" src="polyfills.9f773b75ffcda6bb2a95.js"></script><script type="text/javascript" src="scripts.56f8d25a0068a10cef7e.js"></script><script type="text/javascript" src="main.9c23ed9dc4c8795401cd.js"></script></body>
</html>
