<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SoloApp</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles.8109e0e13bac349840e7.css"></head>
<body>
<app-root>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</app-root>
<script type="text/javascript" src="runtime.a66f828dca56eeb90e02.js"></script><script type="text/javascript" src="polyfills.9f773b75ffcda6bb2a95.js"></script><script type="text/javascript" src="scripts.798ddcd34ac647de87f0.js"></script><script type="text/javascript" src="main.862bd87b1180d9427599.js"></script></body>
</html>
