<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129384327-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129384327-1');
    </script>

    <meta charset="utf-8">
    <title>Taste of Life</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles.23f84bec41ea18e66d73.css"></head>
<body>
<app-root>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</app-root>
<script type="text/javascript" src="runtime.a5dd35324ddfd942bef1.js"></script><script type="text/javascript" src="polyfills.4987ce39fa522529e62b.js"></script><script type="text/javascript" src="scripts.5f3f237b4777f80b4ee7.js"></script><script type="text/javascript" src="main.aeb03346498d56ffb37a.js"></script></body>
</html>