<p>
  Список графіків роботи. Час відкриття і закриття на кожен день тижня і назва графіка для зручності обирати закладу.
</p>
<router-outlet></router-outlet>
<div class="wrap-calendar" *ngFor="let calendar of calendars">
  <div *ngIf="!isShow[calendar._id]">
    <div>
      <input type="text" name="name-calendar"
             placeholder="Назва каледаря*"
             [(ngModel)]="calendar.name">
    </div>
    <div>
      <input type="text" name="name-calendar"
             placeholder="Підпис каледаря*"
             [(ngModel)]="calendar.label">
    </div>
    <div class="wrap" *ngFor="let key of keyArr">
      <div>
        <input type="text" name="name-day" [(ngModel)]="calendar[key].nameDay">
      </div>
      <div *ngIf="calendar[key].isTimeRange">
        <input type="text" name="start-calendar" [(ngModel)]="calendar[key].timeStart">
        <input type="text" name="end-calendar" [(ngModel)]="calendar[key].timeEnd">
      </div>
      <div *ngIf="calendar[key].isAllTime">isAllTime</div>
      <div *ngIf="calendar[key].isWeekend">isWeekend</div>
    </div>
    <span class="btn" (click)="isShow[calendar._id] = true">edit</span>
    <span (click)="del(calendar._id)" class="btn">del</span>
  </div>
  <app-work-time-edit
                      [obj]="calendar"
                      (onEdit)="calendarsEdit($event,calendar)"
                      *ngIf="isShow[calendar._id]"
  ></app-work-time-edit>
</div>
<div>
  <button (click)="isCreate = true" *ngIf="!isCreate" class="btn">Create</button>
  <app-work-time-create
    *ngIf="isCreate"
    (onCreate)="calendarsAdd($event); isCreate = false"></app-work-time-create>
</div>
<br><br><br><br><br>
