<router-outlet></router-outlet>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Графік роботи</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="'/'">Home</a>
      </li>
      <li>
        <a [routerLink]="'/chain/'+id">Мережа</a>
      </li>
      <li class="active">
        <strong>Графік роботи</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">

    <app-work-time-create
      *ngIf="isCreate"
      (onClose)="isCreate = false"
      (onCreate)="calendarsAdd($event); isCreate = false"></app-work-time-create>

    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-tools"  style="padding: 15px;">
        <button (click)="isCreate = true" class="btn btn-primary btn-sm">Створити графік роботи</button>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins" appAcardion>
            <div class="ibox-title">
              <h5>Графік Роботи <strong></strong></h5>
              <div class="ibox-tools">
                <i class="fa fa-chevron-up" style="transform: rotate(0deg); margin-right: 15px"></i>
              </div>
            </div>
            <div class="ibox-content">
              <div class="calendar_cn">
                <ng-container *ngFor="let calendar of calendars">
                  <div class="calendar_cn_i" *ngIf="!isShow[calendar._id]">
                      <div class="ibox-title calendar_tt">
                        <strong>{{calendar.name}}</strong><span>{{calendar.label}}</span>
                      </div>
                      <div class="calendar_wrap">
                        <div class="calendar_i" *ngFor="let key of keyArr">
                          <strong class="calendar_i_tt">{{calendar[key].nameDay}}</strong>
                          <br>
                          <div *ngIf="calendar[key].isTimeRange">Час роботи: {{calendar[key].timeStart}} – {{calendar[key].timeEnd}}</div>
                          <div *ngIf="calendar[key].isAllTime">Цілодобово</div>
                          <div *ngIf="calendar[key].isWeekend">Зачиненно</div>
                        </div>
                      </div>
                      <div class="btn-wrap">
                        <button (click)="del(calendar._id)" class="btn btn-danger btn-sm">Видалити</button>

                        <button (click)="isShow[calendar._id] = true" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Редагувати</button>
                      </div>
                  </div>
                  <app-work-time-edit
                    [obj]="calendar"
                    (onEdit)="calendarsEdit($event,calendar)"
                    (onClose)="isShow[calendar._id] = false"
                    *ngIf="isShow[calendar._id]"
                  ></app-work-time-edit>
                </ng-container>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
