<div class="container-page">
  <div class="container-page_one">

    <div class="container_head-prof" style="overflow: hidden">
      <div class="head-prof">

        <div class="head-prof_user">
          <app-avatar class="head-prof_user_av"
                      [customClass]="'inherit'"
                      [type]="'imgMax'"></app-avatar>
          <app-upload class="head-prof_user_up"
                      [btnName]="btn"
                      (getImg)="loader = $event"></app-upload>

        </div>


        <app-bg></app-bg>

        <div class="head-prof_user-name">
          <app-first-name [isInput]="true"></app-first-name>
          <app-last-name></app-last-name>
        </div>
        <app-user-init [user]="user"></app-user-init>

        <app-update-user class="head-prof_update" [id]="id"></app-update-user>

        <img [src]="loader.larg" *ngIf="loader">
        <app-form *ngIf="loader" [text]="'Зберегти аватар'"
                  [class]="'btn waves-effect waves-light'"
                  [option]="loader"
                  [url]="'/api/avatar'"
        ></app-form>

      </div>
    </div>

    <div class="container-content">
      <div class="container_left-bar">

      </div>

      <div class="container-tape">
        <app-create *ngIf="user" [avatar]="user.photo" [id]="id" [firstName]="user.firstName"></app-create>

        <app-post [id]="id" [posts]="posts"></app-post>
        <button class="btn waves-effect waves-light" (click)="morePost()" *ngIf="isShow">next</button>

        <app-form
          [text]="'More'"
          [class]="'btn waves-effect waves-light'"
          [method]="'get'"
          [url]="'/api/user'"
          (onRes)="more($event)"
          [click]="true"
        ></app-form>

      </div>

    </div>

  </div>
  <div class="container-page_two">

    <app-show-friends *ngIf="friends" [friends]="friends.myFriends"></app-show-friends>
    <app-gallery *ngIf="photos" [photos]="photos.gallery"></app-gallery>
    <div *ngIf="people.length > 0">
      <div *ngFor="let mean of people">
        <img *ngIf="mean.photo" [src]="mean.photo.preload" alt="">
        <a [routerLink]="'/user/'+mean._id">
          {{mean.firstName}} {{mean.lastName}}
        </a>
        <app-init-invite [userId]="mean._id"></app-init-invite>
        <app-invite-friend [userId]="mean._id"></app-invite-friend>
        <app-uninvite-friend [userId]="mean._id"></app-uninvite-friend>
        <app-meet-friend [userId]="mean._id"></app-meet-friend>
        <app-del-friend [userId]="mean._id"></app-del-friend>
        <app-offer-friend [userId]="mean._id"></app-offer-friend>
        <div *ngIf="mutual[mean._id]">
          <span>{{mutual[mean._id].length || 0}} спільних друзів</span>
        </div>
        <app-form
          [hidden]="true"
          [method]="'get'"
          [url]="'/api/getMutual/'+mean._id"
          (onRes)="mutual[mean._id] = $event"
          [click]="true"
        ></app-form>
      </div>
    </div>
  </div>
</div>

