.cont-page {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 71px auto 0;
}

.cont-page_one {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cont-page_two {
  display: none;
  max-width: 215px;
  flex: 1 0 215px;
}

.cont_head-prof {
  width: 100%;
  height: 30vw;
  min-height: 175px;
  max-height: 285px;
  margin: 0 0 5px;
}

.cont-content {
  display: flex;
  flex-direction: column;
}

.cont-tape {
  display: block;
  flex-grow: 1;
  margin: 5px 10px 15px;
}

.cont_left-bar {
  display: flex;
  position: relative;
  flex: 1 0;
  margin: 5px 10px;
}
.left-bar_cont{
  position: static;
}
.left-bar_cont.fx{
  position: fixed;
  top: 96px;
}
.cont_right-bar{
  display: flex;
  flex-direction: column;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.head-prof {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: inherit;
  min-height: inherit;
  max-height: inherit;
  height: inherit;
  user-select: none;
  z-index: 1;
}

@media (min-width: 400px) {
  .cont_head-prof {
    min-height: 185px;
  }
}

@media (min-width: 540px) {
  .cont_left-bar {
    flex-flow: row nowrap;
  }
}

@media (min-width: 620px) {
  .head-prof {
    justify-content: space-between;
    padding: 0 15px 15px;
  }
}

@media (min-width: 768px) and (min-height: 500px) {
  .cont-page {
    margin-top: 91px;
  }
  .cont-content {
    flex-direction: row;
  }

  .cont-tape {
    width: 100%;
    flex-grow: 1;
    max-width: 750px;
  }

  .cont_left-bar {
    flex-direction: column;
    max-width: 215px;
    min-width: 195px;
    flex-grow: 1;
    margin: 0 0 0 10px;
  }
}

@media (min-width: 992px) and (min-height: 500px) {
  .cont-page {
    margin-top: 59px;
  }
  .left-bar_cont.fx{
    position: fixed;
    top: 64px;
    /*margin-top: 5px;*/
  }
  .cont_right-bar{
    position: fixed;
    min-height: 1151px;
    width: 215px;
    top: 60px;
    right: 10px;
    margin-top: 5px;
    transition: 30ms cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  .cont_head-prof {
    width: auto;
    flex-grow: 0.5;
    margin: 0 10px 5px 0;
  }

  .cont-page_two {
    display: block;
    margin: 0 10px 0 0;
  }
}

@media (min-height: 900px) {
  .cont_head-prof {
    max-height: 325px;
  }
}

@media (min-width: 1220px) {
  .cont_left-bar {
    margin: 0;
  }
  .cont_right-bar {
    right: calc(50% - 600px);
  }
  .cont-page_two {
    margin: 0;
  }
}

.head-prof_update {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.head-prof_user-name {
  position: absolute;
  padding: 0 6px;
  box-sizing: border-box;
  text-transform: capitalize;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  background: rgba(255, 255, 255, 0.75);
  left:0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
app-last-name{
  display: none;
}

.head-prof_user {
  display: block;
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.10);
  width: 100px;
  height: 100px;
  max-width: 200px;
  max-height: 200px;
}

.head-prof_bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}

.head-prof_loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.head-prof_user_av {
  display: block;
  width: inherit;
  height: inherit;
}

:host-context /deep/ .button-av {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4px 6px 4px 7px;
  min-height: 22px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

:host-context /deep/ .button-av:hover .button-av_img:before {
  opacity: 0.2;
}

:host-context /deep/ .button-av_img {
  display: block;
  width: 12px;
  height: 12px;
  background: url("../../assets/photo-while.svg") no-repeat 50%;
  background-size: contain;
  position: relative;
}

:host-context /deep/ .button-av_img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../../assets/photo-camera.svg") no-repeat 50%;
  transition: .3s;
  opacity: 0;
}

:host-context /deep/ .button-av_text {
  display: inline;
  padding-left: 7px;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: capitalize;
  color: #ffffff;
}

.head-prof_user_up {
  height: auto;
}

@media (min-width: 400px) {
  .head-prof_user {
    width: 115px;
    height: 115px;
  }
}

@media (min-width: 660px) {
  .head-prof_user {
    width: 20vw;
    height: 20vw;
  }
}
@media (min-width: 730px){
  .head-prof_user-name {
    height: 22px;
    line-height: 22px;
  }
  app-last-name{
    display: inline;
  }

}
@media (min-width: 768px) and (min-height: 500px) {
  :host-context /deep/ .button-av_img:before {
    opacity: 1;
  }

  :host-context /deep/ .button-av:hover .button-av_img:before {
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .head-prof_user {
    width: 200px;
    height: 200px;
  }
  .head-prof_user-name {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  :host-context /deep/ .button-av {
    background: transparent;
    left: 6px;
    right: auto;
    bottom: 5px;
    padding: 0;
  }

  :host-context /deep/ .button-av_img {
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
  }

  :host-context /deep/ .button-av_text {
    display: none;
  }
}


.fr-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: 3px -3px 20px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 0 6px 10px;
  margin-bottom: 10px;
  min-height: 153px;
}

.fr-cont_hdr {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 53px;
}

.fr-cont_cat-parent {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}
.fr-cont_cat {
  cursor: pointer;
  font-size: 14px;
  color: rgba(97, 20, 143, 0.5);
  padding: 5px;
  transition: .3s;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

.fr-cont_cat:hover {
  color: #501a7b;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.fr-cont_cat.active {
  color: #61148f;
  text-decoration: underline;
  text-underline-position: under;
}
.fr-cont_el {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px -2px 10px 1px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 16px 8px 10px;
  min-height: 136px;
  margin-bottom: 10px;
}

.fr-cont_el_user {
  display: flex;
}

.fr-cont_el_user-info {
  padding: 6px 10px 0;
}

.fr-cont_el_user-info_name-link {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 12px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .3s text-shadow;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}

.fr-cont_el_user-info_name-link:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.fr-cont_el_user-info_common {
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.fr-cont_el_user-img-link {
  display: block;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  cursor: pointer;
  box-shadow: 2px 2px 5px transparent;
  background: rgba(0, 0, 0, 0.1);
  transition: .3s box-shadow;
}

.fr-cont_el_user-img-link:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.fr-cont_el_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host-context /deep/ .fr-cont_el_button-true {
  font-size: 12px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  height: 40px;
  background: #52ac62;
  border: none;
  outline: none;
  box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.35);
  padding: 0 5px;
  cursor: pointer;
  margin: 5px 0 5px 5px;
  transition: .3s;
  line-height: 14px;
  min-width: 150px;
  max-width: 150px;
}

:host-context /deep/ .fr-cont_el_button-true:hover, :host-context /deep/ .fr-cont_el_button-true:focus {
  background: #f0f0f0;
  color: #1e1e1e;
}

:host-context /deep/ .fr-cont_el_button-false {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
  text-align: left;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  text-underline-position: under;
  margin: 5px auto 5px 0;
  color: rgba(0, 0, 0, 0.5);
  transition: .3s color;
  min-width: 115px;
}

:host-context /deep/ .fr-cont_el_button-false:hover, :host-context /deep/ .fr-cont_el_button-false:focus {
  background: transparent;
  color: #0a0a0a;
}
.pre-fr-cont_el_user-info_name-link{
  display: block;
  margin: 2px 0 0;
  width: 120px;
  height: 15px;
}
.pre-fr-cont_el_user-info_common{
  display: block;
  margin: 8px 0 0;
  width: 159px;
  height: 15px;
}
.pre-fr-cont_el_button-false{
  height: 16px;
  background: rgba(0, 0, 0, 0.1);
}
.pre-fr-cont_el_button-true{
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1);
}
@media (min-width: 410px){
  :host-context /deep/ .fr-cont_el_button-true {
    min-width: 170px;
    max-width: 200px;
  }
}
@media (min-width: 700px) {
  .fr-cont_el {
    flex-direction: row;
    min-height: 100px;
    justify-content: space-between;
  }

  .fr-cont_el_button {
    flex-direction: column-reverse;
  }

  :host-context /deep/ .fr-cont_el_button-true {
    margin: 0;
  }

  :host-context /deep/ .fr-cont_el_button-false {
    margin: 15px auto 0;
  }
}


@media (min-width: 768px) and (min-height: 500px) {

  .fr-cont {
    padding: 0 16px 10px;
  }

  .fr-cont_el {
    padding: 16px 15px 15px 20px;
    border: 1px solid #e8e8e8;
    margin-bottom: 12px;
    min-height: 106px;
    transition: .25s;
  }

  .fr-cont_el_user-info_name-link {
    font-size: 14px;
  }

  .fr-cont_el_user-info_common {
    font-size: 14px;
  }

  :host-context /deep/ .fr-cont_el_button-false {
    font-size: 14px;
  }

  :host-context /deep/ .fr-cont_el_button-true {
    font-size: 14px;
    min-width: 200px;
  }

  .fr-cont_hdr {
    width: 240px;
    height: 58px;
  }

  .fr-cont_cat-parent {
    justify-content: space-between;
  }

  .fr-cont_cat {
    padding: 10px 0;
  }

  .pre-fr-cont_el_user-info_name-link{
    display: block;
    margin: 2px 0 0;
    width: 120px;
    height: 17px;
  }
  .pre-fr-cont_el_user-info_common{
    display: block;
    margin: 8px 0 0;
    width: 185px;
    height: 17px;
  }
}

@media (min-width: 992px) and (min-height: 500px) {
  .fr-cont_el_user-info {
    padding: 6px 25px 0 10px;
  }
}
@media (min-width: 1100px) {
  .fr-cont_el {
    padding: 16px 27px 15px 20px;
  }
}

@media (min-width: 1220px) {
  .fr-cont_el_button {
    width: 100%;
    max-width: 200px;
  }
}

.user-gall-cont {
  display: flex;
  flex-direction: column;
  box-shadow: 3px -3px 20px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 0 2.3486vw  10px;
  box-sizing: border-box; }

.user-gall_hdr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px; }

.user-gall_cat-parent {
  flex-grow: 1;
  display: flex;
  justify-content: space-between; }

.user-gall_cat {
  cursor: pointer;
  font-size: 14px;
  color: rgba(97, 20, 143, 0.5);
  font-weight: bold;
  padding: 5px 15px;
  transition: .3s;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.3); }
.user-gall_cat:hover {
  color: #501a7b;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
.user-gall_cat.active {
  color: #61148f;
  text-decoration: underline;
  text-underline-position: under;}

.user-gall_content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

.user-gall_item {
  display: block;
  width: 28.1298vw;
  height: 28.1298vw;
  margin: 0.78613vw;
  cursor: pointer; }
.user-gall_item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (min-width: 410px) {
  .user-gall-cont {
    padding: 0 1.8vw  10px; }
  .user-gall_item {
    width: 28.949vw;
    height: 28.949vw; } }

@media (min-width: 450px) {
  .user-gall_item {
    width: 21.4236vw;
    height: 21.4236vw; } }

@media (min-width: 500px) {
  .user-gall_item {
    margin: 0.89999vw; } }
@media (min-width: 650px) {
  .user-gall-cont {
    padding: 0 1.2vw 10px; }
  .user-gall_item {
    width: 17.0047vw;
    height: 17.0047vw;
    margin: 0.959999vw; } }

@media (min-width: 768px) and (min-height: 500px) {
  .user-gall-cont {
    padding: 0 16px 8px; }
  .user-gall_hdr {
    height: 60px;
    justify-content: flex-start; }
  .user-gall_cat {
    padding: 5px 0; }
  .user-gall_cat-parent {
    width: 275px;
    flex-grow: 0; }
  .user-gall_content {
    padding: 15px 2.215576vw  45px;
    box-sizing: border-box;
    box-shadow: 2px -2px 10px 1px rgba(0, 0, 0, 0.1);
    background: #ffffff; }
  .user-gall_item {
    margin: 0.653076vw;
    width: 19.403075vw;
    height: 19.403075vw; } }

@media (min-width: 790px) and (min-height: 500px) {
  .user-gall_item {
    width: 19.708999vw;
    height: 19.708999vw; } }

@media (min-width: 820px) and (min-height: 500px) {
  .user-gall_item {
    width: 20.108611vw;
    height: 20.108611vw; } }

@media (min-width: 840px) and (min-height: 500px) {
  .user-gall_item {
    width: 20.37999999vw;
    height: 20.37999999vw; } }

@media (min-width: 860px) and (min-height: 500px) {
  .user-gall_item {
    width: 20.58999999vw;
    height: 20.58999999vw; } }

@media (min-width: 860px) and (min-height: 500px) {
  .user-gall_item {
    width: 20.58999999vw;
    height: 20.58999999vw; } }

@media (min-width: 880px) and (min-height: 500px) {
  .user-gall_item {
    width: 20.82031vw;
    height: 20.82031vw; } }

@media (min-width: 900px) and (min-height: 500px) {
  .user-gall_item {
    width: 21.0329vw;
    height: 21.0329vw; } }

@media (min-width: 920px) and (min-height: 500px) {
  .user-gall_item {
    width: 21.2415vw;
    height: 21.2415vw; } }

@media (min-width: 940px) and (min-height: 500px) {
  .user-gall_item {
    width: 21.368vw;
    height: 21.368vw; } }

@media (min-width: 992px) and (min-height: 500px) {
  .user-gall_content {
    padding: 15px 16px 45px; }
  .user-gall_item {
    margin: 10px;
    max-width: 208px;
    max-height: 208px;
    width: 14.04vw;
    height: 14.04vw; } }

@media (min-width: 1020px) and (min-height: 500px) {
  .user-gall_item {
    width: 14.55vw;
    height: 14.55vw; } }

@media (min-width: 1060px) and (min-height: 500px) {
  .user-gall_item {
    width: 15.282vw;
    height: 15.282vw; } }

@media (min-width: 1100px) and (min-height: 500px) {
  .user-gall_item {
    width: 15.892vw;
    height: 15.892vw; } }

@media (min-width: 1140px) and (min-height: 500px) {
  .user-gall_item {
    width: 16.495vw;
    height: 16.495vw; } }

@media (min-width: 1160px) and (min-height: 500px) {
  .user-gall_item {
    width: 16.799vw;
    height: 16.799vw; } }

@media (min-width: 1180px) and (min-height: 500px) {
  .user-gall_item {
    width: 17.099vw;
    height: 17.099vw; } }
