
<div class="cont">
  <div class="cont_h1">
    <div class="h-btn-cont">
      <a class="h_t-btn h_t btn-trans"
         [routerLink]="'/basket'" >Замовлення</a>
      <a class="h_t-btn h_t btn-trans active"
         [routerLink]="'/history'">Історія замовлень</a>
    </div>
  </div>
  <ng-container *ngIf="baskets && onLoaded">
    <ng-container *ngFor="let basket of baskets">
      <ng-container *ngIf="basket.products">
        <ng-container *ngIf="basket.products.length>0; else noOneProd">
          <mz-collapsible
            [mode]="'accordion'"
            [onClose]=""
            [onOpen]=""
            [popout]="false"
            class="ord">
            <ng-container>
              <mz-collapsible-item [active]="false">
                <mz-collapsible-item-header class="ord_ct">
                  <div class="ord_ct_link">
                    <span class="ord_ct_img">
                      <app-picture class="inherit" [pic]="basket.estLogo" [size]="60"></app-picture>
                    </span>
                    <strong class="ord_ct_t">{{basket.name}}</strong>
                  </div>
                  <div class="ord_ct_in">
                    <span class="ord_ct_time">{{ basket.data | date: "dd.MM.yy" }}</span>
                    <span class="ord_ct_val">

                      <ng-container *ngIf="basket.totalPrice">
                      <ng-container *ngIf="basket.orderType == 'delivery'">
                        <span class="">{{basket.totalPrice + basket.deliveryPrice}} грн</span>
                      </ng-container>
                      <ng-container *ngIf="basket.orderType == 'bySelf'">
                        <span class="">{{basket.totalPrice}} грн</span>
                      </ng-container>
                      <ng-container *ngIf="basket.orderType == 'reserve'">
                        <span class="">{{basket.totalPrice}} грн</span>
                      </ng-container>
                      <ng-container *ngIf="!basket.orderType">
                        <span class="">{{basket.totalPrice}} грн</span>
                      </ng-container>
                    </ng-container>
              </span>
                    <span class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="15" height="15"> <g> <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"></path> </g></svg>
              </span>
                  </div>
                </mz-collapsible-item-header>

                <mz-collapsible-item-body class="ord_pr-cont">

                  <form class="ord_form" *ngIf="basket.products.length>0">
                    <ng-container *ngFor="let product of basket.products; let index = index">
                      <ng-container *ngIf="product.dishData">
                        <section class="ord_pr">

                          <div class="ord_pr_img pre-bg">
                            <div class="pr_ev">
                              <span class="pr_ev-s ev-s_new"></span>
                              <span class="pr_ev-s ev-s_xit"></span>
                              <span class="pr_ev-s ev-s_int"></span>
                            </div>
                            <app-img [img]="{id:product.dishData.pic}"></app-img>
                          </div>

                          <div class="ord_pr_in">
                            <div class="ord_pr_in_h">
                              <h1 class="ord_pr_t">{{product.dishData.name}}</h1>
                            </div>
                            <p class="ord_pr_in_d">{{product.dishData.about}}</p>
                            <div class="ord_pr_in_add">
                              <p class="ord_pr_in_d">Додатково:</p>
                              <ul *ngIf="product.complementData">
                                <li *ngFor="let compl of product.complementData">
                                  <!--product.dishData.dishcategory.complementbox-->
                                  <span class="ord-check"></span>
                                  <span>{{compl.count}}</span>
                                  <!--<label class="ord_check">-->
                                  <!--<input type="checkbox" [checked]="compl.check == true"-->
                                  <!--(change)="checkPrice(compl, product)">-->
                                  <!--<span></span>-->
                                  <!--</label>-->
                                  {{compl.id.name}}  ({{compl.id.massa}}гр. - {{compl.id.price}} грн)
                                </li>
                              </ul>
                              <p class="ord_pr_in_add_com" *ngIf="product.orderCommentData.length>0">{{product.orderCommentData[0].text}}</p>
                            </div>

                            <div class="pr_num">
                              <span class="pr_num_t">Кількість:</span>
                              <div class="pr_num_c">
                                <button type="button" class="btn-trans btn-pr_num" (click)="decPP(product, basket)">
                                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 52 52" width="12" height="12"><g><path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"></path><path d="M39,25H13c-0.552,0-1,0.447-1,1s0.448,1,1,1h26c0.552,0,1-0.447,1-1S39.552,25,39,25z"></path></g></svg>
                                </button>
                                <input class="pr_num_inp" type="number" name="number{{product._id}}"
                                       [(ngModel)]="product.count"
                                       (blur)="checkPP(product, basket)">
                                <button type="button" class="btn-trans btn-pr_num" (click)="addPP(product, basket)">
                                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 52 52" width="12" height="12"><g><path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"></path><path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z"></path></g></svg>
                                </button>
                              </div>
                            </div>

                            <div class="ord_pr_in_offer" *ngIf="product.portionCheck">
                              <div>{{product.portionCheck.massa || product.portionCheck.name || ''}}</div>

                              <div class="ord_pr_offer_prices">
                                <span class="c_t14">{{product.portionCheck.price}} грн</span>
                              </div>
                            </div>
                            <div class="ord_pr_in_offer">
                              <div>Ціна з додатками</div>
                              <div class="ord_pr_offer_prices">
                                <span class="c_t14">{{product.totalPrice}} грн</span>
                              </div>
                            </div>
                          </div>
                        </section>
                      </ng-container>
                    </ng-container>

                    <div class="ord_in">
                      <p class="ord_in_i">
                        <span class="ord_in_i-t">Статус замовленя:</span>
                        <span class="ord_in_i-val ev">{{basket.status | status}}</span>
                      </p>
                      <p class="ord_in_i">
                        <span class="ord_in_i-t">Загальна вартість:</span>
                        <span class="ord_in_i-val">
                          <ng-container *ngIf="basket.totalPrice">
                            <ng-container *ngIf="basket.orderType == 'delivery'">
                              <span class="">{{basket.totalPrice + basket.deliveryPrice}} грн</span>
                            </ng-container>
                            <ng-container *ngIf="basket.orderType == 'bySelf'">
                              <span class="">{{basket.totalPrice}} грн</span>
                            </ng-container>
                            <ng-container *ngIf="basket.orderType == 'reserve'">
                              <span class="">{{basket.totalPrice}} грн</span>
                            </ng-container>
                            <ng-container *ngIf="!basket.orderType">
                              <span class="">{{basket.totalPrice}} грн</span>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="!basket.totalPrice">0 грн</ng-container>
                        </span>
                      </p>
                    </div>

                    <mz-collapsible
                      [mode]="'accordion'"
                      [onClose]=""
                      [onOpen]=""
                      [popout]="false"
                      class="dt">
                      <mz-collapsible-item [active]="false">
                        <mz-collapsible-item-header class="dt_h">
                          <span class="dt_h_t">Деталі замовленя</span>
                          <div class="dt_h_svg">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="15" height="15"> <g> <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/> </g></svg>
                          </div>
                        </mz-collapsible-item-header>

                        <mz-collapsible-item-body class="dt_c">
                          <ng-container *ngIf="basket.orderCommentData">
                            <ng-container *ngIf="basket.orderCommentData.length>0">
                              <div class="dt_i" *ngIf="basket.orderCommentData[basket.orderCommentData.length-1].text">
                                <span class="dt_t">Коментар:</span>
                                <span class="dt_t">{{basket.orderCommentData[basket.orderCommentData.length-1].text}}</span>
                              </div>
                            </ng-container>
                          </ng-container>
                          <div class="dt_i" *ngIf="basket.orderType">
                            <span class="dt_t">Тип замовлення:</span>
                            <span class="dt_t">{{basket.orderType | order}}</span>
                          </div>
                          <div class="dt_i" *ngIf="basket.anyMobile">
                            <span class="dt_t" >Телефон:</span>
                            <span class="dt_t">{{basket.anyMobile}}</span>
                          </div>
                          <div class="dt_i" *ngIf="basket.timeData">
                            <span class="dt_t" >Час і дата:</span>
                            <span class="dt_t">{{basket.timeData}}</span>
                          </div>
                          <div class="dt_i" *ngIf="basket.paymentType">
                            <span class="dt_t">Вид оплати:</span>
                            <span class="dt_t">{{basket.paymentType | payment}}</span>
                          </div>
                          <div class="dt_i" *ngIf="basket.deliveryPrice">
                            <span class="dt_t">Доставка:</span>
                            <span class="dt_t">{{basket.deliveryPrice}} грн</span>
                          </div>
                          <div class="dt_i" *ngIf="basket.boxesPrice">
                            <span class="dt_t">Пакування:</span>
                            <span class="dt_t">{{basket.boxesPrice}} грн</span>
                          </div>
                          <div class="dt_i" >
                            <span class="dt_t">Вартість замовлення:</span>
                            <span class="dt_t">
                              <ng-container *ngIf="basket.totalPrice">
                                <ng-container *ngIf="basket.orderType != 'reserve'">
                                  {{basket.totalPrice - basket.boxesPrice}} грн
                                </ng-container>
                                <ng-container *ngIf="basket.orderType == 'reserve'">
                                  {{basket.totalPrice}} грн
                                </ng-container>
                              </ng-container>
                            </span>
                          </div>
                          <div class="dt_i" *ngIf="basket.totalPrice">
                            <span class="dt_t">Загальна вартість:</span>
                            <ng-container *ngIf="basket.orderType == 'delivery'">
                              <span class="dt_t">{{basket.totalPrice + basket.deliveryPrice}} грн</span>
                            </ng-container>
                            <ng-container *ngIf="basket.orderType == 'bySelf'">
                              <span class="dt_t">{{basket.totalPrice}} грн</span>
                            </ng-container>
                            <ng-container *ngIf="basket.orderType == 'reserve'">
                              <span class="dt_t">{{basket.totalPrice}} грн</span>
                            </ng-container>
                            <ng-container *ngIf="!basket.orderType">
                              <span class="dt_t">{{basket.totalPrice}} грн</span>
                            </ng-container>

                          </div>
                        </mz-collapsible-item-body>
                      </mz-collapsible-item>
                    </mz-collapsible>

                    <div class="ord_btn-cont">
                      <!--<app-to-order></app-to-order>-->
                      <button class="btn-green ord_btn" *ngIf="basket.status == 0 || basket.status == 5"
                              (click)="setActiveBasket(basket)">замовити</button>
                      <button class="btn-green ord_btn" *ngIf="basket.status == 3">Оплатити</button>
                      <button class="btn-red ord_btn"
                              (click)="delBasket(basket)"
                              *ngIf="basket.status == 0 || basket.status == 3 || basket.status == 5">
                        скасувати
                      </button>
                    </div>
                  </form>

                </mz-collapsible-item-body>
              </mz-collapsible-item>
            </ng-container>
          </mz-collapsible>
        </ng-container>

      </ng-container>
    </ng-container>
  </ng-container>

</div>

<ng-template #noOneProd>
  <p class="prevInv">
    Історія порожня
  </p>
</ng-template>

